.playerOne{
  float: left
}

.playerTwo{
  float: right
}

.modal-content
{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 110% !important;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

#modal-content
 {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 110% !important;
   color: var(--bs-modal-color);
   pointer-events: auto;
   background-color: var(--bs-modal-bg);
   background-clip: padding-box;
   border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
   border-radius: var(--bs-modal-border-radius);
   outline: 0;
 }