<!-- ================================dashboard first area start===================================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 dashboard_fstoutstructure">
            <div class="swsfst_areaout">
                <i class="fa-solid fa-users swsft_icondesign"></i>
                <span class="swsft_textdesign">Stage Wise Statistics(2023-2024)</span>
            </div>
            <div class="row jufcx">
                <div class="col-lg-3">
                    <div class="swfstbox_outarea">
                        <div class="swfstbox_outarea1">
                            <div class="textarea_outbox">
                                <h1 class="iknumber_textdesign">
                                    2
                                </h1>
                                <h3 class="afomtext_hdesign">
                                    Application From
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="vwjhbox_outsecion">
                                        <h2 class="vdetext_designtext">
                                            View Details
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="vwjhbox_outsecion">
                                        <a href="#" class="yhxcv">
                                          <i class="fa-solid fa-arrow-right-long yhicon_design"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="swfstbox_outarea">
                        <div class="swfstbox_outarea2">
                            <div class="textarea_outbox">
                                <h1 class="iknumber_textdesign">
                                    1
                                </h1>
                                <h3 class="afomtext_hdesign">
                                    Online Exam
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="vwjhbox_outsecion">
                                        <h2 class="vdetext_designtext">
                                            View Details
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="vwjhbox_outsecion">
                                        <a href="#" class="yhxcv">
                                          <i class="fa-solid fa-arrow-right-long yhicon_design"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="swfstbox_outarea">
                        <div class="swfstbox_outarea3">
                            <div class="textarea_outbox">
                                <h1 class="iknumber_textdesign">
                                    5
                                </h1>
                                <h3 class="afomtext_hdesign">
                                    Fees Received
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="vwjhbox_outsecion">
                                        <h2 class="vdetext_designtext">
                                            View Details
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="vwjhbox_outsecion">
                                        <a href="#" class="yhxcv">
                                          <i class="fa-solid fa-arrow-right-long yhicon_design"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="swfstbox_outarea">
                        <div class="swfstbox_outarea4">
                            <div class="textarea_outbox">
                                <h1 class="iknumber_textdesign">
                                    50
                                </h1>
                                <h3 class="afomtext_hdesign">
                                    Library Overview
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="vwjhbox_outsecion">
                                        <h2 class="vdetext_designtext">
                                            View Details
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="vwjhbox_outsecion">
                                        <a href="#" class="yhxcv">
                                          <i class="fa-solid fa-arrow-right-long yhicon_design"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================dashboard first area end======================================= -->

<!-- ================================dashboard second area start==================================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 chartbox_foutarea">
            <div class="row">
                <div class="col-lg-9">
                    <div class="chartbox_leftoutsectionds">
                        <div class="swsfst_areaout">
                            <i class="fa-solid fa-chart-simple swsft_icondesign"></i>
                            <span class="swsft_textdesign">Consolldated Admission Chart</span>
                        </div>
                        <div class="card-body">
                            <div class="flot-chart-container">
                                <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                                    <ngx-charts-bar-vertical-2d [scheme]="barChartColorScheme" [results]="multiData"
                                        [gradient]="barChartGradient" [xAxis]="barChartShowXAxis" [yAxis]="barChartShowYAxis"
                                        [legend]="barChartShowLegend" [showXAxisLabel]="barChartShowXAxisLabel"
                                        [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel"
                                        [yAxisLabel]="barChartYAxisLabel" [roundEdges]="false" (select)="onSelect($event)">
                                    </ngx-charts-bar-vertical-2d>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="chartbox_rightoutsection">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="nboxout_dsarea">
                                    <span class="erchlox">
                                        <i class="fa-solid fa-indian-rupee-sign hrupee_sign"></i>
                                    </span>
                                    <div class="info_box_content">
                                        <span class="info_box_text">
                                            Monthly Fees Collection
                                        </span>
                                        <span class="info_box_number">
                                            ₹0
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="nboxout_dsarea">
                                    <span class="erchlox">
                                        <i class="fa-solid fa-credit-card hrupee_sign"></i>
                                    </span>
                                    <div class="info_box_content">
                                        <span class="info_box_text">
                                            Monthly Expenses
                                        </span>
                                        <span class="info_box_number">
                                            ₹0
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="nboxout_dsarea">
                                    <span class="erchlox">
                                        <i class="fa-solid fa-user hrupee_sign"></i>
                                    </span>
                                    <div class="info_box_content">
                                        <span class="info_box_text">
                                            Student
                                        </span>
                                        <span class="info_box_number">
                                            312
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="nboxout_dsarea">
                                    <span class="erchlox">
                                        <i class="fa-solid fa-user-tie hrupee_sign"></i>
                                    </span>
                                    <div class="info_box_content">
                                        <span class="info_box_text">
                                            Teacher
                                        </span>
                                        <span class="info_box_number">
                                            50
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="nboxout_dsarea">
                                    <span class="erchlox">
                                        <i class="fa-solid fa-users hrupee_sign"></i>
                                    </span>
                                    <div class="info_box_content">
                                        <span class="info_box_text">
                                            ACCOUNTANT
                                        </span>
                                        <span class="info_box_number">
                                            20
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================dashboard second area end====================================== -->

<!-- ================================dashboard third area start===================================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 canlendarout_section">
            <div class="swsfst_areaout">
                <i class="fa-solid fa-calendar-days swsft_icondesign"></i>
                <span class="swsft_textdesign">Calender</span>
            </div>
            <ngb-datepicker #dp class="custom-datepicker university-datepicker" (dateSelect)="openModal($event,content)" [ngModel]="datePick" (navigate)="date = $event.next">
            </ngb-datepicker>
        </div>    
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Event</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">  </button>
      </div>
      <div class="modal-body">
        <form class="theme-form" [formGroup]="universityFormCalender">
          <div  class="row">
            <div class="col-md-12 mb-3">
              <label class="col-form-label pt-0" for="exampleInputEmail1">Event Title <span style="color: red">*</span></label>
              <input class="form-control" formControlName="event_title" id="exampleInputEmail1" type="text"
                     placeholder="Enter Event Title">
              <div *ngIf="universityFormCalender.controls['event_title'].errors?.['required'] && universityFormCalender.controls['event_title'].touched " class="text text-danger mt-1">Event Title required</div>
            </div>
          </div>
          <div  class="row">
            <div class="col-md-12 mb-3">
              <label class="col-form-label pt-0" for="exampleInputEmail1">Description</label>
              <textarea class="form-control" formControlName="description" id="exampleInputEmail1" type="text"
                     placeholder="Enter Description"></textarea>
              <div *ngIf="universityFormCalender.controls['description'].errors?.['required'] && universityFormCalender.controls['description'].touched " class="text text-danger mt-1">Description required</div>
            </div>
          </div>
          <div  class="row">
            <div class="col-md-6 mb-3">
              <label class="col-form-label pt-0" for="exampleInputEmail1">Event From</label>
              <input class="form-control" formControlName="event_from" id="exampleInputEmail1" type="date"
                        placeholder="Event From">
              <div *ngIf="universityFormCalender.controls['event_from'].errors?.['required'] && universityFormCalender.controls['event_from'].touched " class="text text-danger mt-1">Event From required</div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="col-form-label pt-0" for="exampleInputEmail1">Event To</label>
              <input class="form-control" formControlName="event_to" id="exampleInputEmail1" type="date"
                        placeholder="Enter Event To">
              <div *ngIf="universityFormCalender.controls['event_to'].errors?.['required'] && universityFormCalender.controls['event_to'].touched " class="text text-danger mt-1">Event To required</div>
            </div>
          </div>
          <div  class="row">
            <div class="col-md-6 mb-3">
              <label class="col-form-label pt-0" for="exampleInputEmail1">Event Type</label>
              <select style="width: 100%" formControlName="event_type" class="form-select">
                <option value="null">Select</option>
                <option value="public"> Public </option>
                <option value="private"> Private </option>
                <option value="all super admin"> All Super Admin </option>
                <option value="Protected}"> Seperated </option>
              </select>
              <div *ngIf="universityFormCalender.controls['event_type'].errors?.['required'] && universityFormCalender.controls['event_type'].touched " class="text text-danger mt-1">Event Type required</div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="col-form-label pt-0" for="exampleInputEmail1">Upload Image</label>
              <input class="form-control" accept="image/jpg, image/jpeg" formControlName="event_to" type="file" placeholder="Enter Event To">
              <div *ngIf="universityFormCalender.controls['event_type'].errors?.['required'] && universityFormCalender.controls['event_type'].touched " class="text text-danger mt-1">Event Type required</div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <button style="margin-top: 30px; float: right" class="btn btn-primary me-1">Save</button>
          </div>
        </form>
      </div>
    </div>
</ng-template>
<!-- ================================dashboard third area end======================================= -->

<!-- ================================dashboard fourth area start==================================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 dashboard_hfourthoutsection">
            <div class="row">
                <div class="col-lg-6">
                    <div class="leftfrth_dashboardoutarea">
                        <div class="swsfst_areaout">
                            <i class="fa-solid fa-file swsft_icondesign"></i>
                            <span class="swsft_textdesign">Upcoming Notice</span>
                        </div>
                        <div class="card-body ugbdy_outsectionxz">
                            <div class="upcoming-event">
                              <div class="upcoming-innner d-flex">
                                <div class="ikxz_areasection left m-r-20">
                                  <app-feather-icons [icon]="'help-circle'"></app-feather-icons>
                                </div>
                                <div class="flex-grow-1">
                                  <p class="mb-0">Demo Content <span class="pull-right">Mar 18</span></p>
                                  <h6 class="f-w-600">Quiz Competition</h6>
                                  <p class="mb-0">A math quiz competition will be held on 15.05.2024
                                  </p>
                                </div>
                              </div>
                              <div class="upcoming-innner d-flex">
                                <div class="ikxz_areasection left m-r-20">
                                  <app-feather-icons [icon]="'mic'"></app-feather-icons>
                                </div>
                                <div class="flex-grow-1">
                                  <p class="mb-0">Demo Content <span class="pull-right">Sep 18</span></p>
                                  <h6 class="f-w-600">Singing Competition</h6>
                                  <p class="mb-0">A singing quiz competition will be held on 14.05.2024
                                  </p>
                                </div>
                              </div>
                              <div class="upcoming-innner d-flex">
                                <div class="ikxz_areasection left m-r-20">
                                  <app-feather-icons [icon]="'zap'"></app-feather-icons>
                                </div>
                                <div class="flex-grow-1">
                                  <p class="mb-0">Demo Content <span class="pull-right">Dec 18</span></p>
                                  <h6 class="f-w-600">Diwali Celebration</h6>
                                  <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. lorem ipsum
                                  </p>
                                </div>
                              </div>
                              <div class="upcoming-innner d-flex">
                                <div class="ikxz_areasection left m-r-20">
                                  <app-feather-icons [icon]="'mic'"></app-feather-icons>
                                </div>
                                <div class="flex-grow-1">
                                  <p class="mb-0">Demo Content <span class="pull-right">Sep 18</span></p>
                                  <h6 class="f-w-600">Singing Competition</h6>
                                  <p class="mb-0">A singing quiz competition will be held on 14.05.2024
                                  </p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="leftfrth_dashboardoutarea">
                        <div class="swsfst_areaout">
                            <i class="fa-solid fa-graduation-cap swsft_icondesign"></i>
                            <span class="swsft_textdesign">Students</span>
                        </div>
                        <div class="card-body">
                            <div class="flot-chart-placeholder" id="website-visiter-chart">
                                <ngx-charts-pie-chart [scheme]="dailydoughnutChartColorScheme" [results]="dailydoughnutData"
                                  [explodeSlices]="true" [labels]="dailydoughnutChartShowLabels" [arcWidth]=0.30 [doughnut]="true"
                                  [gradient]="dailydoughnutChartGradient">
                                </ngx-charts-pie-chart>
                            </div>
                            <!-- <canvas baseChart class="chart flot-chart-placeholder" id="myLineCharts" [legend]="admissionChartLegend"
                             [datasets]="admissionChartData" [labels]="admissionChartLabels" [options]="admissionChartOptions"
                             [type]="admissionChartType"></canvas> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mfstudent_outsection">
                                    <h4 class="item-title">Female Students</h4>
                                    <div class="item-number">45,000</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mfstudent_outsectionmu">
                                    <h4 class="item-title">Male Students</h4>
                                    <div class="item-number">1,05,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================dashboard fourth area start==================================== -->



