div.review canvas {
  position: relative !important;
}

:focus {
  outline-color: transparent !important;
}
.dashboard_fstoutstructure
{
  padding: 0px;
  background-color: #FFF;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.swsfst_areaout
{
  background-color: #1ea6ec;
  padding: 10px 0px 10px 30px;
  border-radius: 5px 5px 0px 0px;
}
.swsft_icondesign
{
  color: #FFF;
  font-size: 20px;
}
.swsft_textdesign
{
  color: #FFF;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  font-weight: 600;
}
.jufcx
{
  padding: 0px 10px 0px 10px;
}
.swfstbox_outarea
{
  margin: 20px 10px 20px 10px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 10px 10px;
  background: #FFF;
}
.swfstbox_outarea1
{
  background: #FB6542;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px;
}
.swfstbox_outarea2
{
  background: #6AB187;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px;
}
.swfstbox_outarea3
{
  background: #FFBB00;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px;
}
.swfstbox_outarea4
{
  background: #735DA5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px;
}
.iknumber_textdesign
{
  color: #FFF;
  font-size: 23px;
  text-align: right;
  margin: 0px;
  padding: 5px 10px 0px 0px;
  font-weight: 600;
}
.afomtext_hdesign
{
  color: #FFF;
  font-size: 14px;
  text-align: right;
  margin: 0px;
  padding: 0px 8px 0px 0px;
  font-weight: 600;
}
.vwjhbox_outsecion
{
  margin: 15px 0px 0px 0px;
}
.vdetext_designtext
{
  color: #FFF;
  font-size: 13px;
  text-align: left;
  margin: 0px;
  font-weight: 600;
}
.yhxcv
{
  color: #FFF;
  text-decoration: none;
}
.yhicon_design
{
  color: #FFF;
  float: right;
  font-size: 20px;
}
#c-pills-tab
{
  display: none;
}
.fsecond_dashboardoutarea
{
  margin: 35px 0px 0px 0px;
}
.thrddash_outarea
{
  border: none;
  margin: 0px 0px 30px 0px;
}
.nboxout_dsarea
{
  background-color: #F98866;
  border-radius: 5px;
  height: 80px;
  margin: 10px 0px 10px 0px;
}
.erchlox
{
  float: left;
}
.hrupee_sign
{
  width: 55px;
  height: 40px;
  border-radius: 0px 35px 35px 0px;
  background: #FFF;
  text-align: center;
  color: #F98866;
  margin: 20px 7px 0px 0px;
  font-size: 20px;
  padding: 11px 0px 0px 0px;
}
.info_box_content
{
  padding: 25px 0px 0px 0px;
  margin-left: 50px;
}
.info_box_text
{
  display: block;
  font-size: 12px;
  overflow: hidden;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
}
.info_box_number
{
  display: block;
  font-size: 15px;
  color: #FFF;
  padding: 0px 0px 0px 0px;
}
.chartbox_foutarea
{
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
.chartbox_leftoutsectionds
{
  padding: 0px;
  background-color: #FFF;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.chartbox_rightoutsection
{
  border: none;
}
.canlendarout_section
{
  margin: 40px 0px 0px 0px;
  padding: 0px;
  background-color: #FFF;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.fcalend_outsection
{
  border: none;
}
.fcalendrgt_outsection
{
  border: none;
}
.dashboard_hfourthoutsection
{
  margin: 40px 0px 40px 0px;
}
.leftfrth_dashboardoutarea
{
  padding: 0px;
  background-color: #FFF;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.ugbdy_outsectionxz
{
  padding: 20px 20px 20px 20px;
}
.fthdash_oboardaresa
{
  padding: 20px 0px 10px 10px;
  // height: 357px;
}
.ikxz_areasection
{
  background-color: #ffa601;
}
.ikxz_areasection app-feather-icons
{
  color: #FFF;;
}
.ucnxsd_outarea
{
  height: 430px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mfstudent_outsection
{
  margin: 12px 0px 0px 0px;
  padding: 0px 0px 15px 30px;
  position: relative;
}
.mfstudent_outsectionmu
{
  margin: 12px 0px 0px 0px;
  position: relative;
  text-align: left;
  padding: 0px 0px 0px 120px;
}
.item-title 
{
  font-size: 14px;
  color: #ffa601;
  margin-bottom: 2px;
}
.item-number 
{
  font-size: 16px;
  color: #111111;
  font-weight: 500;
}
.mfstudent_outsection:after 
{
  content: "";
  height: 6px;
  width: 49px;
  border-radius: 6px;
  position: absolute;
  top: -18px;
  left: 13%;
  background-color: #4466f2;
}
.mfstudent_outsectionmu:after 
{
  content: "";
  height: 6px;
  width: 49px;
  border-radius: 6px;
  position: absolute;
  top: -18px;
  right: 31%;
  background-color: #1ea6ec;
}