<div class="container-fluid">
    <div *ngIf="permission.length > 0" class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div [hidden]="active != 1" class="card-header">
                            <h5>Journal Publication</h5><span>Journal Publication</span>
                        </div>
                        <div [hidden]="active != 2" class="card-header">
                            <h5>Show Journal Publication</h5>
                        </div>
                        <div class="tabbed-card">
                            <ul #nav="ngbNav" [activeId]="active" class="pull-right nav nav-pills nav-primary" ngbNav>
                                <li [ngbNavItem]="1">
                                    <a (click)="activeTab(1)" ngbNavLink>Add Journal Publication</a>
                                </li>
                                <li [ngbNavItem]="2">
                                    <a (click)="activeTab(2)" ngbNavLink>Show Journal Publication</a>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="mt-2"></div>
                        </div>
                        <div [hidden]="active != 1">
                            <div [hidden]="active != 1" class="card-body">
                                <div *ngFor="let item of journalPublicationArray ;let indexOfElement=index">
                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label>Select Staff</label>
                                            <!-- <select [(ngModel)]="journalPublicationArray[indexOfElement].staff_id"
                                                class="form-select" required style="width: 100%">
                                                <option value="null"> Select a Staff</option>
                                                <option *ngFor="let data of memberList" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select> -->
                                            <ng-select [(ngModel)]="journalPublicationArray[indexOfElement].staff_id"
                                                class="form-control">
                                                @for (car of memberList; track car.id) {
                                                <ng-option [value]="car.id">{{car.first_name}} {{car.middle_name}}
                                                    {{car.last_name}}</ng-option>
                                                }
                                            </ng-select>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>Journal Name</label>
                                            <input [(ngModel)]="journalPublicationArray[indexOfElement].journal_name"
                                                class="form-control" placeholder="Journal Name" required type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label>Publication</label>
                                            <input [(ngModel)]="journalPublicationArray[indexOfElement].publication"
                                                class="form-control" placeholder="Publication" required type="text">
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>UGC Affliation</label>
                                            <select
                                                [(ngModel)]="journalPublicationArray[indexOfElement].ugc_affiliation"
                                                class="form-select" required style="width: 100%;">
                                                <option value="null">Select</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <a (click)="addField()"
                                                *ngIf="(indexOfElement + 1) == journalPublicationArray.length" style="">
                                                <mat-icon
                                                    style="font-size: 40px;height: 60px; width: 40px; line-height: 2">
                                                    add_box
                                                </mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label>University Name</label>
                                            <input [(ngModel)]="journalPublicationArray[indexOfElement].university_name"
                                                class="form-control" placeholder="University Name" required type="text">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Volume and Page number</label>
                                            <input
                                                [(ngModel)]="journalPublicationArray[indexOfElement].volume_page_number"
                                                class="form-control" placeholder="Volume and Page number" required
                                                type="text">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Upload File</label>
                                            <input class="form-control" type="file"
                                                (change)="fileUpload($event,indexOfElement)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label>ISSN Number</label>
                                            <input [(ngModel)]="journalPublicationArray[indexOfElement].issn_number"
                                                class="form-control" placeholder="ISSN Number" required type="text">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Topic Name</label>
                                            <input [(ngModel)]="journalPublicationArray[indexOfElement].topic_name"
                                                class="form-control" placeholder="Topic Name" required type="text">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Imapct Factor</label>
                                            <input [(ngModel)]="journalPublicationArray[indexOfElement].impact_factor"
                                                class="form-control" placeholder="Impact Factor" required type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button (click)="saveJournalPublication()" *ngIf="permission[0].permission == 1"
                                    [hidden]="isUpdatable == true" class="btn btn-primary me-1">Submit
                                </button>
                                <button (click)="updateJournalPublication()" [hidden]="isUpdatable == false"
                                    class="btn btn-primary me-1">Update
                                </button>
                                <button (click)="cancelUpdate()" [hidden]="isUpdatable == false"
                                    class="btn btn-primary me-1">Cancel
                                </button>
                            </div>
                        </div>
                        <div [hidden]="active != 2">
                            <div class="card-body" *ngIf="permission[3].permission == 1">
                                <form [formGroup]="journalPublicationForm" class="theme-form">
                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label class="col-form-label pt-0">From
                                                Date</label>
                                            <!-- <select class="form-select" formControlName="staff_id" required
                                                style="width: 100%">
                                                <option value="null"> Select a Staff</option>
                                                <option *ngFor="let data of memberList" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select> -->
                                            <ng-select formControlName="staff_id" class="form-control">
                                                @for (car of memberList; track car.id) {
                                                <ng-option [value]="car.id">{{car.first_name}} {{car.middle_name}}
                                                    {{car.last_name}}</ng-option>
                                                }
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <button (click)="getJournalPublication()" class="btn btn-primary me-1"
                                                style="margin-top: 30px;">Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th>Staff Name</th>
                                            <th>Journal Name</th>
                                            <th>Publication</th>
                                            <th>UGC Affiliation</th>
                                            <th>Topic name</th>
                                            <th>Volume Page number</th>
                                            <th>Issn Number</th>
                                            <th>Impact Factor</th>
                                            <th>Download</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let record of searchPaperList | paginate: { itemsPerPage: 5, currentPage: p } ;let indexOfElement=index">
                                            <td>{{indexOfElement + 1}}</td>
                                            <td>{{record.staff_name}}</td>
                                            <td>{{record.journal_name}}</td>
                                            <td>{{record.publication}}</td>
                                            <td>{{record.ugc_affiliation}}</td>
                                            <td>{{record.topic_name}}</td>
                                            <td>{{record.volume_page_number}}</td>
                                            <td>{{record.issn_number}}</td>
                                            <td>{{record.impact_factor}}</td>
                                            <td>
                                                <a data-placement="left" target="_blank" href="{{record.file_url}}"
                                                    *ngIf="record.file_url">
                                                    <mat-icon>cloud_download</mat-icon>
                                                </a>
                                                <span *ngIf="!record.file_url">No file found</span>
                                            </td>
                                            <td>
                                                <a (click)="editJournalPublication(record)"
                                                    *ngIf="permission[1].permission == 1">
                                                    <mat-icon>edit</mat-icon>
                                                </a>
                                                <a (click)="deleteJournalPublication(record)"
                                                    *ngIf="permission[2].permission == 1">
                                                    <mat-icon>delete</mat-icon>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <pagination-controls *ngIf="paperList.length > 5"
                                    (pageChange)="p = $event"></pagination-controls> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->