.steperbutton_design
{
    background-color: #7091e6;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    font-size: 17px;
    color: #FFF !important;
    border-radius: 5px;
    margin: 15px 0px 0px 0px;
}
.steperbutton_design1
{
    background-color: #8697c4;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    font-size: 17px;
    color: #FFF !important;
    border-radius: 5px;
    margin: 15px 15px 0px 0px;
}
.steperbutton_design2
{
    background-color: #afd275;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    font-size: 17px;
    color: #FFF !important;
    border-radius: 5px;
    margin: 15px 0px 0px 0px;
}
.multiform_cardbodydesign
{
    padding: 10px !important;
}