@page {
    size:6.35cm 8.89cm ;
    margin: 0;
    padding: 0;
    /* change the margins as you want them to be. */
 }

 @media print {

    html,
    body {
      width:6.35cm !important;

       margin: 0 !important;
       padding: 5 !important;
       overflow: hidden;

        }
 }

 body {
    font-family: sans-serif;
    margin: 0 auto;

       height:8.89cm !important;
    width: 100%;

 }
 table {
    background-position: center;
    background-repeat: no-repeat;
 }

 tr {
    width: 100%;
    height: auto;
 }
 .marksheetheading {
    background-color: #322f6a!important;
    color: #ffffff !important;
 }
 .newadd{
    width: 45%;
 }
 .newadd1{
    margin-left: 6%;
 }