.courserea{
    border: 1px solid #0000001a;
    padding: 20px;
    margin-bottom: 30px;
}
.Options{
    display: flex;
}
.newli{
    display: flex;
    margin-left: 20px;
}
.newli li{
    padding: 0px 10px 0px 34px;
}
.questions{
    padding: 23px 10px 10px 10px;
}
.Status{
    padding: 10px 10px 10px 10px;
}
.Marks{
    padding: 10px 10px 10px 10px;
}
.Options{
    padding: 10px 10px 10px 10px;
}
.nm{
    margin-left: 61px;
}
.nm1{
    margin-left: 32px;
}
.Questionsarea{
    border-top: 1px solid #00000029;
    margin-top: 20px;
}
.mr{
    margin-right: 10px;
    color: #4466f2;
}