<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Designation</h5><span>Add Designation</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="designationForm">
                                <div class="form-group">
                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Name</label>
                                    <input class="form-control" formControlName="name" id="exampleInputEmail1" type="text"
                                           placeholder="Enter Designation">
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveDesignation()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateDesignation()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="row" *ngIf="permission[3].permission == 1">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Designation List</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of designationList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.name}}</td>
                                        <td>
                                            <a *ngIf="permission[1].permission == 1" (click)="editDesignation(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deleteDesignation(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls [hidden]="designationList.length<10" (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->