<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Item Stock</h5><span>Add Item Stock</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="itemStockForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Select Item Category</label>
                                        <select style="width: 100%" formControlName="item_type_id" class="form-select" (change)="getItemList()">
                                            <option *ngFor="let data of itemTypeList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="itemStockForm.controls['item_type_id'].errors?.['required'] && itemStockForm.controls['item_type_id'].touched " class="text text-danger mt-1">Item Category required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                            <label>Select Item</label>
                                            <select style="width: 100%" formControlName="inventory_item_id" class="form-select">
                                                <option *ngFor="let data of itemList" [value]="data.id" >
                                                    {{data.name}}
                                                </option>
                                            </select>
                                        <div *ngIf="itemStockForm.controls['inventory_item_id'].errors?.['required'] && itemStockForm.controls['inventory_item_id'].touched " class="text text-danger mt-1">Item required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Select Supplier</label>
                                        <select style="width: 100%" formControlName="item_supplier_id" class="form-select">
                                            <option *ngFor="let data of itemSupplyList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="itemStockForm.controls['item_supplier_id'].errors?.['required'] && itemStockForm.controls['item_supplier_id'].touched " class="text text-danger mt-1">Supplier required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                            <label>Select Store</label>
                                            <select style="width: 100%" formControlName="item_store_id" class="form-select">
                                                <option *ngFor="let data of itemStoreList" [value]="data.id" >
                                                    {{data.name}}
                                                </option>
                                            </select>
                                        <div *ngIf="itemStockForm.controls['item_store_id'].errors?.['required'] && itemStockForm.controls['item_store_id'].touched " class="text text-danger mt-1">Store required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Quantity</label>
                                        <input class="form-control" formControlName="quantity" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Quantity">
                                        <div *ngIf="itemStockForm.controls['quantity'].errors?.['required'] && itemStockForm.controls['quantity'].touched " class="text text-danger mt-1">Quantity required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Date</label>
                                        <input class="form-control" formControlName="purchase_date" type="date"
                                               placeholder="Enter Date">
                                        <div *ngIf="itemStockForm.controls['purchase_date'].errors?.['required'] && itemStockForm.controls['purchase_date'].touched " class="text text-danger mt-1">Date required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Purchase Price</label>
                                        <input class="form-control" formControlName="purchase_price" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Purchase Price">
                                        <div *ngIf="itemStockForm.controls['purchase_price'].errors?.['required'] && itemStockForm.controls['purchase_price'].touched " class="text text-danger mt-1">Purchase Price required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Description</label>
                                        <input class="form-control" formControlName="description" type="text"
                                               placeholder="Enter Description">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveItemStock()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateItemStock()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-7">
            <div class="row" *ngIf="permission[3].permission == 1">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Stock Item</h5>
                                <span>Stock Item List.</span>
                            </div>
                            <div class="table-responsive">

                                <table class="table" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th colspan="2">#</th>
                                        <th colspan="2">Item</th>
                                        <th colspan="2">Supplier</th>
                                        <th colspan="2">Store</th>
                                        <th colspan="2">Price</th>
                                        <th colspan="2">Quantity</th>
                                        <th colspan="2">Date</th>
                                        <th colspan="2" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of itemStockList| paginate: { itemsPerPage: 10, currentPage: p }  ;let indexOfElement=index">
                                        <td colspan="2">{{indexOfElement+1}}</td>
                                        <td colspan="2">{{record.inventory_item_name}}</td>
                                        <td colspan="2">{{record.item_supplier_name}}</td>
                                        <td colspan="2">{{record.item_store_name}}</td>
                                        <td colspan="2">{{record.purchase_price}}</td>
                                        <td colspan="2">{{record.quantity}}</td>
                                        <td colspan="2">{{record.purchase_date}}</td>
                                        <td colspan="2">
                                            <a *ngIf="permission[1].permission == 1" (click)="editItemStock(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deleteItemStock(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls [hidden]="itemStockList.length<9" (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->