<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row" *ngIf="!selectedData && !viewPayslip">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Payroll</h5><span>Staff Payroll</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="payrollForm">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label>Select User Type</label>
                                        <select style="width: 100%" formControlName="user_type_id" class="form-select" required>
                                            <option *ngFor="let data of userTypeList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="payrollForm.controls['user_type_id'].errors?.['required'] && payrollForm.controls['user_type_id'].touched " class="text text-danger mt-1">User Type required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Month</label>
                                        <select style="width: 100%" formControlName="month" class="form-select" required>
                                            <option value="01"> January </option>
                                            <option value="02"> February </option>
                                            <option value="03"> March </option>
                                            <option value="04"> April </option>
                                            <option value="05"> May </option>
                                            <option value="06"> June </option>
                                            <option value="07"> July </option>
                                            <option value="08"> August </option>
                                            <option value="09"> September </option>
                                            <option value="10"> October </option>
                                            <option value="11"> November </option>
                                            <option value="12"> December </option>
                                        </select>
                                        <div *ngIf="payrollForm.controls['month'].errors?.['required'] && payrollForm.controls['month'].touched " class="text text-danger mt-1">User Type required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Year</label>
                                        <select style="width: 100%" formControlName="year" class="form-select" required>
                                            <option *ngFor="let data of year" [value]="data.year" >
                                                {{data.year}}
                                            </option>
                                        </select>
                                        <div *ngIf="payrollForm.controls['year'].errors?.['required'] && payrollForm.controls['year'].touched " class="text text-danger mt-1">Year required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div>
                                            <button style="margin-top: 28px;" class="btn btn-primary me-1" (click)="getStaff()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <ng-template #content let-modal>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Proceed To Pay</h4>
                                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">  </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="theme-form" [formGroup]="paymentForm">
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Staff Name</label>
                                                    <input readonly class="form-control" formControlName="staff_name" type="text"
                                                           placeholder="Staff Name">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Payment Amount</label>
                                                    <input readonly class="form-control" formControlName="payment_amount" type="text"
                                                           placeholder="Payment Amount">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Year</label>
                                                    <input readonly class="form-control" formControlName="year" type="text"
                                                           placeholder="Year">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Month</label>
                                                    <input readonly class="form-control" formControlName="month" type="text"
                                                           placeholder="Month">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label>Select Payment Mode</label>
                                                    <select style="width: 100%" formControlName="payment_mode" class="form-select" required>
                                                        <option value="Cash"> Cash </option>
                                                        <option value="Cheque"> Cheque </option>
                                                        <option value="Transfer To Bank"> Transfer To Bank </option>
                                                        <option value="Others"> Others </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Payment Date</label>
                                                    <input class="form-control" formControlName="payment_date" type="date"
                                                           placeholder="Payment Date">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <button class="btn btn-primary me-1 pull-right" (click)="savePayrollDetails(modal)">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Date Of Birth</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Generate Payroll</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of memberList ;let indexOfElement=index">
                                        <td>{{indexOfElement + 1}}</td>
                                        <td>{{record.first_name}} {{record.middle_name}} {{record.last_name}}</td>
                                        <td>{{record.gender}}</td>
                                        <td>{{record.dob}}</td>
                                        <td>{{record.email}}</td>
                                        <td>
<!--                                            <button *ngIf="record.generated == 0" class="btn btn-primary me-1" type="submit" (click)="openCustomModal(content);generatePayroll(record)">Generate</button>-->
                                            <button *ngIf="record.generated == 0" class="btn btn-primary me-1" type="submit" (click)="generatePayroll(record)">Generate</button>
                                            <button *ngIf="record.generated == 1" class="btn btn-primary me-1" (click)="openCustomModal(content);proceedToPay(record)" type="submit">Proceed To Pay</button>
                                            <button *ngIf="record.generated == 2" class="btn btn-primary me-1" (click)="viewSalarySlip(record)" type="submit">View Salary Slip</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="selectedData && !viewPayslip">
                <div class="col-sm-12">
                    <a style="cursor: pointer;" (click)="returnBack()"><mat-icon>backspace</mat-icon></a>
                    <div class="card">
                        <div class="card-header">
                           <h4> Generate Payroll for - {{months[memberPayrollForm.value.month - 1]}}, Year- {{memberPayrollForm.value.year}}</h4>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="memberPayrollForm">
                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">First Name</label>
                                        <input class="form-control" formControlName="first_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Middle Name</label>
                                        <input class="form-control" formControlName="middle_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Last Name</label>
                                        <input class="form-control" formControlName="last_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Department Name</label>
                                        <input class="form-control" formControlName="department_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Designation Name</label>
                                        <input class="form-control" formControlName="designation_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Total Days</label>
                                        <input class="form-control" formControlName="no_of_days" id="exampleInputEmail1" type="text">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Non Approved Leave</label>
                                        <input class="form-control" formControlName="total_non_approved_leave" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Approved Leave</label>
                                        <input class="form-control" formControlName="total_approved_leave" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Contract Type</label>
                                        <input class="form-control" formControlName="contract_type" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Total Holidays</label>
                                        <input class="form-control" formControlName="total_holidays" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Total Working Days</label>
                                        <input class="form-control" formControlName="working_days" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Present Days</label>
                                        <input class="form-control" formControlName="total_present" id="exampleInputEmail1" type="text">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Absent Days</label>
                                        <input class="form-control" formControlName="total_absent" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Gross Salary</label>
                                        <input readonly class="form-control" formControlName="gross_salary" id="exampleInputEmail1" type="text">
                                        <div *ngIf="memberPayrollForm.controls['gross_salary'].invalid && memberPayrollForm.controls['gross_salary'].touched" style="color: red">Gross salary cannot be null</div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Net Salary</label>
                                        <input readonly class="form-control" formControlName="net_salary" id="exampleInputEmail1" type="text">
                                        <div *ngIf="memberPayrollForm.controls['net_salary'].invalid && memberPayrollForm.controls['net_salary'].touched" style="color: red">Net salary cannot be null</div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Deduction</label>
                                        <input readonly class="form-control" formControlName="deduction" id="exampleInputEmail1" type="text">
                                        <div *ngIf="memberPayrollForm.controls['deduction'].invalid && memberPayrollForm.controls['deduction'].touched" style="color: red">Deduction cannot be null</div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-6 mb-3" style="border: 1px solid lightblue; min-height: 350px; width: 48%; margin-right: 10px">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-10"><h3>Earnings :-</h3></div>
                                            <div class="col">
                                                <a (click)="addEarnings()"><mat-icon style="font-size: 40px;height: 60px; width: 40px; line-height: 1">add_box</mat-icon></a>
                                            </div>
                                        </div>
                                        <div *ngFor="let item of earnings ;let indexOfElement=index">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <select style="width: 100%" [(ngModel)]="earnings[indexOfElement].payroll_type_id" class="form-select">
                                                        <option *ngFor="let data of payrollTypeList" [value]="data.id" >
                                                            {{data.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3" style="padding-top: 5px">
                                                    <input class="form-control" [(ngModel)]="earnings[indexOfElement].amount" type="text" placeholder="Amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3" style="border: 1px solid lightblue; min-height: 350px; width: 48%; margin-left: 10px">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-10"><h3>Deductions :-</h3></div>
                                            <div class="col">
                                                <a (click)="addDeduction()"><mat-icon style="font-size: 40px;height: 60px; width: 40px; line-height: 1">add_box</mat-icon></a>
                                            </div>
                                        </div>
                                        <div *ngFor="let item of deductions ;let indexOfElement=index">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <select style="width: 100%" [(ngModel)]="deductions[indexOfElement].payroll_type_id" class="form-select">
                                                        <option *ngFor="let data of payrollTypeList" [value]="data.id" >
                                                            {{data.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3" style="padding-top: 5px">
                                                    <input class="form-control" [(ngModel)]="deductions[indexOfElement].amount" type="text" placeholder="Amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mb-3">
                                    <button class="btn btn-primary me-1" type="submit" (click)="savePayroll()">Save</button>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <button class="btn btn-primary me-1" type="submit" (click)="calculate()">Auto Calculate</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" *ngIf="viewPayslip">
                <div class="row">
                    <div class="col">
                        <a style="cursor: pointer;" (click)="returnBackPayslip()"><mat-icon>backspace</mat-icon></a>
                    </div>
                    <div class="col">
                        <a class="pull-right" style="cursor: pointer;" (click)="print_div()"><mat-icon>print</mat-icon></a>
                        <a class="pull-right" style="cursor: pointer;" (click)="download_pdf()"><mat-icon>download</mat-icon></a>
                    </div>
                </div>

                <div id="sectionToPrint">

                    <div style="width:100%; margin: 0px 0px 0px 0px;">
                        <!-- heading -->
                        <table style="margin:10px 0px 0px 0px;  width:100%;padding: 10px;">
                            <tr>
                                <td style="font-size: 23px;line-height: 20px;text-align: center;">
                                    <span style="font-weight: 500; text-align: center;">Rudraksh Group Institute</span><br>
                                </td>
                            </tr>
                        </table>
                        <table style="margin:0px 0px 0px 0px;  width:100%;padding: 10px;">
                            <tr>
                                <td style="font-size: 23px;line-height: 60px;text-align: center;">
                                    <span style="font-weight: 500; text-align: center; ">Payslip</span>
                                </td>
                            </tr>
                        </table>
                        <!-- heading -->
                        <!-- coading -->
                        <table style="width: 93%; margin: 20px 0px 0px 50px;border: 1px solid #000; padding:5px 5px 5px 5px; ">
                            <th>
               <span style="padding-right: 60px ; display:inline-block;line-height:10px;font-size:14px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Employee Name
               </span>
                                <span  style="width:50%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:13px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px solid #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;">{{fullPayslipData.first_name}} {{fullPayslipData.middle_name}} {{fullPayslipData.last_name}}
               </span><br>
                                <span style="padding-right: 86px ; display:inline-block;line-height:10px;font-size:14px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Designation
               </span>
                                <span  style="width:50%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:13px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px solid #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;"> {{fullPayslipData.designation_name}}
               </span><br>
                                <span style="padding-right: 112px ; display:inline-block;line-height:10px;font-size:14px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Email Id
               </span>
                                <span  style="width:50%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:13px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px solid #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;">{{fullPayslipData.email}}
               </span><br>
                                <span style="padding-right: 122px ; display:inline-block;line-height:10px;font-size:14px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Month
               </span>
                                <span  style="width:20%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:13px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px solid #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;">{{getMonthName(payrollForm.value.month)}}
               </span>
                                <span style="padding-left: 68px ;display:inline-block;line-height:10px;font-size:14px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Year
               </span>
                                <span  style="width:20%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:13px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px solid #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;"> {{payrollForm.value.year}}
               </span><br>
                                <span style="padding-right: 21px ; display:inline-block;line-height:10px;font-size:14px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Bank Account Number
               </span>
                                <span  style="width:50%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:13px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px solid #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;"> {{fullPayslipData.bank_account_number?fullPayslipData.bank_account_number:'No Account Linked'}}
               </span>

                            </th>
                            <!--                        </th>-->
                        </table>
                        <div style="width: 45%; float: left; margin-left: 50px; border: 1px solid #000; border-collapse: collapse; margin-top: 30px;">
                            <table style="width: 100%; margin: 0px 0px 0px 0px;  ">
                                <!-- Earnings Table -->
                                <tr>
                                    <th style=" border-bottom:1px solid #000; border-right:1px solid #000;font-size: 13px; padding: 3px; background-color:#e2e2e2;">Earnings</th>
                                    <th style="border-bottom:1px solid #000; border-left:1px solid #000;font-size: 13px; padding: 3px; background-color:#e2e2e2;">Amount</th>
                                </tr>
                                <tr style="height: 31px" *ngFor="let record of payslipTableLength ;let indexOfElement=index">
                                    <th style=" border:1px solid #000;font-size: 13px; padding: 5px; text-align: left;">{{earningsPayslip[indexOfElement]? earningsPayslip[indexOfElement].payroll_type_name: ''}}</th>
                                    <td style="border:1px solid #000;font-size: 13px; padding: 5px; text-align: left;">{{earningsPayslip[indexOfElement]? earningsPayslip[indexOfElement].amount: ''}}</td>
                                </tr>
                                <tr>
                                    <th style="border:1px solid #000;font-size: 13px; padding: 5px; text-align: left; background-color:#e2e2e2">Gross Earnings</th>
                                    <td style="border:1px solid #000;font-size: 13px; padding: 5px; text-align: left; background-color:#e2e2e2">{{grossSalaryPayslip}}</td>
                                </tr>
                                <tr>
                                    <th style=" border:1px solid #000;font-size: 13px; padding: 5px; text-align: left; background-color:#e2e2e2">Net Salary</th>
                                    <td style="border:1px solid #000;font-size: 13px; padding: 5px; text-align: left; background-color:#e2e2e2">{{grossSalaryPayslip - deductionSalaryPayslip}}</td>
                                </tr>
                            </table>
                        </div>
                        <div style="width: 48%; float: left; border-collapse: collapse;">
                            <table style="width: 100%; margin: 30px 0px 0px 0px;border: 1px solid #000; ">
                                <!-- Deductions Table -->
                                <tr>
                                    <th style=" border-bottom:1px solid #000; border-right:1px solid #000;font-size: 13px; padding: 3px; background-color:#e2e2e2; ">Deductions</th>
                                    <th style="border-bottom:1px solid #000; border-left:1px solid #000;font-size: 13px; padding: 3px; background-color:#e2e2e2;">Amount</th>
                                </tr>
                                <tr style="height: 31px" *ngFor="let record of payslipTableLength ;let indexOfElement=index">
                                    <th style="height: 31px;border:1px solid #000;font-size: 13px; padding: 5px; text-align: left;">{{deductionsPayslip[indexOfElement]? deductionsPayslip[indexOfElement].payroll_type_name: ' '}}</th>
                                    <td style="height: 31px;border:1px solid #000;font-size: 13px; padding: 5px; text-align: left;">{{deductionsPayslip[indexOfElement]? deductionsPayslip[indexOfElement].amount: ' '}}</td>
                                </tr>
                                <tr>
                                    <th style=" border:1px solid #000;font-size: 13px; padding: 5px; text-align: left; background-color:#e2e2e2">Total Deduction</th>
                                    <td style="border:1px solid #000;font-size: 13px; padding: 5px; text-align: left; background-color:#e2e2e2">{{deductionSalaryPayslip}}</td>
                                </tr>
                            </table>
                        </div>
                        <table style="width: 93%; margin-top: 90px; margin-left: 50px; border-collapse: collapse; ">
                            <!--                        <tr>-->
                            <!--                            <th style="border: 1px solid #000; font-size: 13px; padding: 5px;text-align: left;background-color:#e2e2e2;width:180px;">Gross Earnings</th>-->
                            <!--                            <td style="border: 1px solid #000; font-size: 13px; padding: 5px;text-align: left;background-color:#e2e2e2;">{{grossSalaryPayslip}}</td>-->
                            <!--                            <th style="border: 1px solid #000; font-size: 13px; padding: 5px;text-align: left;background-color:#e2e2e2;width: 191px;">Total Deduction</th>-->
                            <!--                            <td style="border: 1px solid #000; font-size: 13px; padding: 5px;text-align: left;background-color:#e2e2e2;">{{deductionSalaryPayslip}}</td>-->
                            <!--                        </tr>-->
                        </table>
                        <table style="width: 93%; background-color:#e2e2e2; margin: 30px 0px 0px 50px; border: 1px solid #000;">
                            <th>
               <span style="display:inline-block;line-height:10px;font-size: 13px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Net Salary Transfared
               </span>
                                <span  style="margin-left: 10px;width:15%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:15px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px dashed #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;"> {{fullPayslipData.payroll.net_salary}}
               </span>

                                <span style="margin-left: 30px ;display:inline-block;line-height:10px;font-size: 13px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Payment Mode
               </span>
                                <span  style="margin-left: 10px;width:15%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:15px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px dashed #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;"> {{fullPayslipData.payroll.payment_mode}}
               </span>
                                <span style="margin-left: 30px ;display:inline-block;line-height:10px;font-size: 13px;color:#000; margin-bottom: 10px; text-align: justify; font-weight: 300;">
               Payment Date
               </span>
                                <span  style="margin-left: 10px;width:15%;display:inline-block;text-transform:uppercase;line-height:normal;text-indent:15px;font-size:15px;font-family:'Font Awesome 5 Free';font-style:normal;color:#000;font-weight:600;border-bottom:1px dashed #000;text-transform:uppercase;margin-bottom: 10px; text-align: justify;"> {{fullPayslipData.payroll.payment_date}}
               </span>
                            </th>
                        </table>
                    </div>


                </div>






            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; Container-fluid Ends&ndash;&gt;-->