<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row" *ngIf="!selectedData && !viewPayslip">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Payroll</h5><span>Staff Payroll</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="payrollForm">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label>Select User Type</label>
                                        <select style="width: 100%" formControlName="user_type_id" class="form-select" required>
                                            <option *ngFor="let data of userTypeList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="payrollForm.controls['user_type_id'].errors?.['required'] && payrollForm.controls['user_type_id'].touched " class="text text-danger mt-1">User Type required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Month</label>
                                        <select style="width: 100%" formControlName="month" class="form-select" required>
                                            <option value="01"> January </option>
                                            <option value="02"> February </option>
                                            <option value="03"> March </option>
                                            <option value="04"> April </option>
                                            <option value="05"> May </option>
                                            <option value="06"> June </option>
                                            <option value="07"> July </option>
                                            <option value="08"> August </option>
                                            <option value="09"> September </option>
                                            <option value="10"> October </option>
                                            <option value="11"> November </option>
                                            <option value="12"> December </option>
                                        </select>
                                        <div *ngIf="payrollForm.controls['month'].errors?.['required'] && payrollForm.controls['month'].touched " class="text text-danger mt-1">User Type required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Year</label>
                                        <select style="width: 100%" formControlName="year" class="form-select" required>
                                            <option *ngFor="let data of year" [value]="data.year" >
                                                {{data.year}}
                                            </option>
                                        </select>
                                        <div *ngIf="payrollForm.controls['year'].errors?.['required'] && payrollForm.controls['year'].touched " class="text text-danger mt-1">Year required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div>
                                            <button style="margin-top: 28px;" class="btn btn-primary me-1" (click)="getStaff()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Date Of Birth</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Generate Payroll</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of memberList ;let indexOfElement=index">
                                        <td>{{indexOfElement + 1}}</td>
                                        <td>{{record.first_name}} {{record.middle_name}} {{record.last_name}}</td>
                                        <td>{{record.gender}}</td>
                                        <td>{{record.dob}}</td>
                                        <td>{{record.email}}</td>
                                        <td>
<!--                                            <button *ngIf="record.generated == 0" class="btn btn-primary me-1" type="submit" (click)="openCustomModal(content);generatePayroll(record)">Generate</button>-->
                                            <button *ngIf="record.generated == 0" class="btn btn-primary me-1" type="submit" (click)="generatePayroll(record)">Generate</button>
                                            <button *ngIf="record.generated == 1" class="btn btn-primary me-1" (click)="viewSalarySlip()" type="submit">View Salary Slip</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="selectedData && !viewPayslip">
                <div class="col-sm-12">
                    <a style="cursor: pointer;" (click)="returnBack()"><mat-icon>backspace</mat-icon></a>
                    <div class="card">
                        <div class="card-header">
                           <h4> Generate Payroll for - {{months[memberPayrollForm.value.month - 1]}}, Year- {{memberPayrollForm.value.year}}</h4>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="memberPayrollForm">
                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">First Name</label>
                                        <input class="form-control" formControlName="first_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Middle Name</label>
                                        <input class="form-control" formControlName="middle_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Last Name</label>
                                        <input class="form-control" formControlName="last_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Department Name</label>
                                        <input class="form-control" formControlName="department_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Designation Name</label>
                                        <input class="form-control" formControlName="designation_name" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Total Days</label>
                                        <input class="form-control" formControlName="no_of_days" id="exampleInputEmail1" type="text">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Non Approved Leave</label>
                                        <input class="form-control" formControlName="total_non_approved_leave" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Approved Leave</label>
                                        <input class="form-control" formControlName="total_approved_leave" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Contract Type</label>
                                        <input class="form-control" formControlName="contract_type" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Total Holidays</label>
                                        <input class="form-control" formControlName="total_holidays" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Total Working Days</label>
                                        <input class="form-control" formControlName="working_days" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Present Days</label>
                                        <input class="form-control" formControlName="total_present" id="exampleInputEmail1" type="text">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Absent Days</label>
                                        <input class="form-control" formControlName="total_absent" id="exampleInputEmail1" type="text">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Gross Salary</label>
                                        <input readonly class="form-control" formControlName="gross_salary" id="exampleInputEmail1" type="text">
                                        <div *ngIf="memberPayrollForm.controls['gross_salary'].invalid && memberPayrollForm.controls['gross_salary'].touched" style="color: red">Gross salary cannot be null</div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Net Salary</label>
                                        <input readonly class="form-control" formControlName="net_salary" id="exampleInputEmail1" type="text">
                                        <div *ngIf="memberPayrollForm.controls['net_salary'].invalid && memberPayrollForm.controls['net_salary'].touched" style="color: red">Net salary cannot be null</div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Deduction</label>
                                        <input readonly class="form-control" formControlName="deduction" id="exampleInputEmail1" type="text">
                                        <div *ngIf="memberPayrollForm.controls['deduction'].invalid && memberPayrollForm.controls['deduction'].touched" style="color: red">Deduction cannot be null</div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-6 mb-3" style="border: 1px solid lightblue; min-height: 350px; width: 48%; margin-right: 10px">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-10"><h3>Earnings :-</h3></div>
                                            <div class="col">
                                                <a (click)="addEarnings()"><mat-icon style="font-size: 40px;height: 60px; width: 40px; line-height: 1">add_box</mat-icon></a>
                                            </div>
                                        </div>
                                        <div *ngFor="let item of earnings ;let indexOfElement=index">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <select style="width: 100%" [(ngModel)]="earnings[indexOfElement].payroll_type_id" class="form-select">
                                                        <option *ngFor="let data of payrollTypeList" [value]="data.id" >
                                                            {{data.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3" style="padding-top: 5px">
                                                    <input class="form-control" [(ngModel)]="earnings[indexOfElement].amount" type="text" placeholder="Amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3" style="border: 1px solid lightblue; min-height: 350px; width: 48%; margin-left: 10px">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-10"><h3>Deductions :-</h3></div>
                                            <div class="col">
                                                <a (click)="addDeduction()"><mat-icon style="font-size: 40px;height: 60px; width: 40px; line-height: 1">add_box</mat-icon></a>
                                            </div>
                                        </div>
                                        <div *ngFor="let item of deductions ;let indexOfElement=index">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <select style="width: 100%" [(ngModel)]="deductions[indexOfElement].payroll_type_id" class="form-select">
                                                        <option *ngFor="let data of payrollTypeList" [value]="data.id" >
                                                            {{data.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3" style="padding-top: 5px">
                                                    <input class="form-control" [(ngModel)]="deductions[indexOfElement].amount" type="text" placeholder="Amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mb-3">
                                    <button class="btn btn-primary me-1" type="submit" (click)="savePayroll()">Save</button>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <button class="btn btn-primary me-1" type="submit" (click)="calculate()">Auto Calculate</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" *ngIf="viewPayslip">
                <a style="cursor: pointer;" (click)="returnBackPayslip()"><mat-icon>backspace</mat-icon></a>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; Container-fluid Ends&ndash;&gt;-->