<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Discount/Scholarship</h5><span>Add Discount/Scholarship</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="discountForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Select Course</label>
                                        <select style="width: 100%" formControlName="course_id" class="form-select" required (change)="getSemester()">
                                            <option *ngFor="let data of courseList" [value]="data.id" >
<!--                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}-->
                                                {{data.course_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Select Semester</label>
                                        <select style="width: 100%" formControlName="semester_id" class="form-select" required (change)="getStudent()">
                                            <option *ngFor="let data of semesterList" [value]="data.semester_id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Select Student</label>
                                        <select style="width: 100%" formControlName="student_id" class="form-select" required>
                                            <option *ngFor="let data of filteredStudent" [value]="data.id" >
                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Scholarship Code</label>
                                        <input class="form-control" formControlName="scholarship_code" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Scholarship Code">
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Amount</label>
                                        <input class="form-control" formControlName="amount" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Amount">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0" for="exampleInputEmail1">Description</label>
                                        <input class="form-control" formControlName="description" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Description">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveDiscount()">Submit</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateDiscount()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                            <!--                            <button class="btn btn-secondary">Cancel</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Discount/Scholarship</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Student Name</th>
                                        <th scope="col">Fees Type Name</th>
                                        <th scope="col">Scholarship Code</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of discountList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.student_name}}</td>
                                        <td>{{record.fees_type_name}}</td>
                                        <td>{{record.scholarship_code}}</td>
                                        <td>{{record.amount}}</td>
                                        <td>
                                            <a (click)="editDiscount(record)"><mat-icon>edit</mat-icon></a>
                                            <a (click)="deleteDiscount(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->