<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" [hidden]="active != 1">
                            <h5>Seminar / Workshop / Faculty Development Programme</h5>
                            <span>Seminar / Workshop / Faculty Development Programme</span>
                        </div>
                        <div class="card-header" [hidden]="active != 2">
                            <h5>Show All</h5>
                        </div>
                        <div class="tabbed-card">
                            <ul ngbNav #nav="ngbNav" [activeId]="1" class="pull-right nav nav-pills nav-primary">
                                <li [ngbNavItem]="1">
                                    <a ngbNavLink (click)="activeTab(1)">Add</a>
                                </li>
                                <li [ngbNavItem]="2">
                                    <a ngbNavLink (click)="activeTab(2)">Show</a>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="mt-2"></div>
                        </div>
                        <div [hidden]="active != 1">
                            <div class="card-body" [hidden]="active != 1">
                                <div *ngFor="let item of totalArray ;let indexOfElement=index">
                                    <div class="row">
                                        <div class="col-md-5 mb-3"
                                            *ngIf="this.user.user_type_id == 1 || this.user.user_type_id == 5">
                                            <label>Select Staff</label>
                                            <!-- <select style="width: 100%"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].staff_id"
                                                class="form-select" required>
                                                <option value="null"> Select a Staff</option>
                                                <option *ngFor="let data of memberList" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select> -->
                                            <ng-select [(ngModel)]="seminarWorkshopArray[indexOfElement].staff_id"
                                                class="form-control">
                                                @for (car of memberList; track car.id) {
                                                <ng-option [value]="car.id">{{car.first_name}} {{car.middle_name}}
                                                    {{car.last_name}}</ng-option>
                                                }
                                            </ng-select>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>Title of Seminar/Workshop</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].title_of_seminar"
                                                placeholder="Title of Seminar/Workshop" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label>Type of Seminar/Workshop/FDP</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].type_of_seminar"
                                                placeholder="Type of Seminar/Workshop" required>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>Organized By</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].organized_by"
                                                placeholder="Organized By" required>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <a *ngIf="(indexOfElement + 1) == totalArray.length && !isUpdatable"
                                                (click)="addField()"><mat-icon
                                                    style="font-size: 40px;height: 60px; width: 40px; line-height: 2">add_box</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label>From Date</label>
                                            <input type="date" class="form-control"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].date" required
                                                (change)="calculateNoOFDate(indexOfElement)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>To Date</label>
                                            <input type="date" class="form-control"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].end_date" required
                                                (change)="calculateNoOFDate(indexOfElement)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Duration</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].duration"
                                                placeholder="Duration" required disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label>Achievement</label>
                                            <input type="text" class="form-control" placeholder="Achievement"
                                                [(ngModel)]="seminarWorkshopArray[indexOfElement].achievement" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Upload File</label>
                                            <input class="form-control" type="file"
                                                (change)="fileUpload($event,indexOfElement)"
                                                accept=".jpg, .jpeg, .png, .pdf, .xls, .xlsx, .doc, .docx">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button [hidden]="isUpdatable == true" class="btn btn-primary me-1"
                                        (click)="saveSeminarWorkshopFaculty()"
                                        *ngIf="permission[0].permission == 1">Submit</button>
                                    <button [hidden]="isUpdatable == false" class="btn btn-primary me-1"
                                        (click)="updateSeminarWorkshopFaculty()"
                                        *ngIf="permission[1].permission == 1">Update</button>
                                    <button [hidden]="isUpdatable == false" class="btn btn-primary me-1"
                                        (click)="cancelUpdate()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="active != 2">
                            <div class="card-body">
                                <form class="theme-form" [formGroup]="searchForm">
                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">From
                                                Date</label>
                                            <input class="form-control" formControlName="from_date"
                                                id="exampleInputEmail1" type="date">
                                            <div *ngIf="searchForm.controls['from_date'].errors?.['required'] && searchForm.controls['from_date'].touched "
                                                class="text text-danger mt-1">From Date required</div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">To Date</label>
                                            <input class="form-control" formControlName="to_date"
                                                id="exampleInputEmail1" type="date">
                                            <div *ngIf="searchForm.controls['to_date'].errors?.['required'] && searchForm.controls['to_date'].touched "
                                                class="text text-danger mt-1">To Date required</div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Select Staff</label>
                                            <!-- <select style="width: 100%" formControlName="staff_id" class="form-select"
                                                required>
                                                <option value="null"> Select a Staff</option>
                                                <option *ngFor="let data of memberList" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select> -->

                                            <ng-select formControlName="staff_id" class="form-control">
                                                @for (car of memberList; track car.id) {
                                                <ng-option [value]="car.id">{{car.first_name}} {{car.middle_name}}
                                                    {{car.last_name}}</ng-option>
                                                }
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <button class="btn btn-primary me-1" style="margin-top: 30px;"
                                                (click)="searchSeminarWorkshopFaculty()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive" *ngIf="permission[3].permission == 1">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Sl.NO</th>
                                            <th colspan="2">Staff Name</th>
                                            <th colspan="2">Title</th>
                                            <th colspan="2">Type</th>
                                            <th colspan="2">Organized By</th>
                                            <th colspan="2">Duration</th>
                                            <th colspan="2">Date</th>
                                            <th colspan="2">To Date</th>
                                            <th colspan="2">Achievement</th>
                                            <th colspan="2">Download</th>
                                            <th colspan="1"
                                                *ngIf="permission[1].permission == 1 && permission[2].permission == 1">
                                                Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of seminarWorkshopList ;let indexOfElement=index">

                                            <td colspan="2">{{indexOfElement + 1}}</td>
                                            <td colspan="2">{{record.staff_name}}</td>
                                            <td colspan="2">{{record.title_of_seminar}}</td>
                                            <td colspan="2">{{record.type_of_seminar}}</td>
                                            <td colspan="2">{{record.organized_by}}</td>
                                            <td colspan="2">{{record.duration}}</td>
                                            <td colspan="2">{{record.date}}</td>
                                            <td colspan="2">{{record.end_date}}</td>
                                            <td colspan="2">{{record.achievement}}</td>
                                            <td colspan="2">
                                                <a data-placement="left" target="_blank" href="{{record.file_url}}"
                                                    *ngIf="record.file_url">
                                                    <mat-icon>cloud_download</mat-icon>
                                                </a>
                                                <span *ngIf="!record.file_url">No file found</span>
                                            </td>
                                            <td>
                                                <a (click)="editSeminarWorkshopFaculty(record)"
                                                    *ngIf="permission[1].permission == 1"><mat-icon>edit</mat-icon></a>
                                                <a (click)="deleteSeminarWorkshopFaculty(record)"
                                                    *ngIf="permission[2].permission == 1"><mat-icon>delete</mat-icon></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <pagination-controls *ngIf="paperList.length > 5"
                                (pageChange)="p = $event"></pagination-controls> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->