<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row" >
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Agent</h5><span>Agent Name</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="agentForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">First Name</label>
                                            <input class="form-control" formControlName="first_name" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Agent Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Last Name</label>
                                            <input class="form-control" formControlName="last_name" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Agent Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Mobile Number</label>
                                            <input class="form-control" formControlName="mobile_no" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Mobile Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Category</label>
                                        <select style="width: 100%" formControlName="category_id" class="form-select" required>
                                            <option *ngFor="let data of categoryList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Email</label>
                                            <input class="form-control" formControlName="email" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
<!--                            <button *ngIf="permission[0].permission == 1" [disabled]="!agentForm.valid" [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveAgent()">Submit</button>-->
<!--                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateAgent()">Update</button>-->
<!--                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>-->
                            <!--                            <button class="btn btn-secondary">Cancel</button>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->