<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Attendance</h5><span>Student period Attendance</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="attendanceForm">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                            <label>Select Course</label>
                                            <select style="width: 100%" formControlName="course_id" class="form-select" required (change)="getSemester()">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of courseList" [value]="data.id" >
                                                    {{data.course_name}}
                                                </option>
                                            </select>
                                        <div *ngIf="attendanceForm.controls['course_id'].errors?.['required'] && attendanceForm.controls['course_id'].touched " class="text text-danger mt-1">Course required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                            <label>Select Semester</label>
                                            <select style="width: 100%" formControlName="semester_id" class="form-select" required (change)="getSubject()">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of semesterList" [value]="data.semester_id" >
                                                    {{data.name}}
                                                </option>
                                            </select>
                                        <div *ngIf="attendanceForm.controls['semester_id'].errors?.['required'] && attendanceForm.controls['semester_id'].touched " class="text text-danger mt-1">Semester required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Date</label>
                                        <input class="form-control" formControlName="date" type="date"
                                               placeholder="Select date">
                                        <div *ngIf="attendanceForm.controls['date'].errors?.['required'] && attendanceForm.controls['date'].touched " class="text text-danger mt-1">Date required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Subject</label>
                                        <select style="width: 100%" formControlName="subject_id" class="form-select" required>
                                            <option value="null">Select</option>
                                            <option *ngFor="let data of subjectList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="attendanceForm.controls['subject_id'].errors?.['required'] && attendanceForm.controls['subject_id'].touched " class="text text-danger mt-1">Subject required</div>
                                    </div>
                                    <!-- <div class="col-md-2 mb-3">
                                        <label>Select Session</label>
                                        <select style="width: 100%" formControlName="session_id" class="form-select" required>
                                            <option value="null">Select</option>
                                            <option *ngFor="let data of sessionList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="attendanceForm.controls['session_id'].errors?.['required'] && attendanceForm.controls['session_id'].touched " class="text text-danger mt-1">Session required</div>
                                    </div> -->
                                    <div>
                                        <button class="btn btn-primary me-1" (click)="getStudentAttendanceList()">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div [hidden]="showList">-->
            <div class="row" [hidden]="!(studentList.length == 0 || classStatus !== null) || showList">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Class Status</h5>
                        </div>
                        <div class="card-body" *ngIf="classStatus">
<!--                            {{classStatus.started_by}}-->
                            <div class="row">
                                <div class="col-12 mb-3">
                                    Class Started By: {{classStatus.time_on}}
                                </div>
                                <div class="col-12 mb-3">
                                    Class Started By: {{classStatus.started_by_name}}
                                </div>
                                <div class="col-12 mb-3">
                                    Class started: <button [disabled]="classStatus.started_by !== null" (click)="updateClassStart()" class="btn btn-primary me-1">Start</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    Class Started By: {{classStatus.ended_on}}
                                </div>
                                <div class="col-12 mb-3">
                                    Class Ended By: {{classStatus.ended_by_name}}
                                </div>
                                <div class="col-12 mb-3">
                                    Class Ended: <button [disabled]="classStatus.ended_by !== null" (click)="updateClassEnd()" class="btn btn-primary me-1">Ended</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" [hidden]="(studentList.length == 0 || classStatus != null)">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Student List</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Attendance
                                            (<input style="margin-left: 15px" type="radio" id="age1" name="age10" (change)="markForAll('present')" [checked]="markAllAsPresent">
                                            <label for="age1">  Present</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age10" (change)="markForAll('absent')" [checked]="markAllAsAbsent">
                                            <label for="age1">  Absent</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age10" (change)="markForAll('late')" [checked]="markAllAsLate">
                                            <label for="age1">  Late</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age10" (change)="markForAll('half day')" [checked]="markAllAsHalfDay">
                                            <label for="age1">  Half day</label>)
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of studentList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.first_name}} {{record.middle_name}} {{record.last_name}}</td>
                                        <td>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age{{indexOfElement}}" [(ngModel)]="record.attendance" [checked]="record.attendance == 'present'" value="present">
                                            <label for="age1">Present</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age{{indexOfElement}}" [(ngModel)]="record.attendance" [checked]="record.attendance == 'absent'" value="absent">
                                            <label for="age1">Absent</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age{{indexOfElement}}" [(ngModel)]="record.attendance" [checked]="record.attendance == 'late'" value="late">
                                            <label for="age1">Late</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age{{indexOfElement}}" [(ngModel)]="record.attendance" [checked]="record.attendance == 'half day'" value="half day">
                                            <label for="age1">Half Day</label>
                                        </td>
                                    </tr>
                                    <button class="btn btn-primary me-1" (click)="saveAttendance()">Submit</button>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
<!--            </div>-->
        </div>
<!--        <div class="col-sm-12 col-xl-6">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-12">-->
<!--                    <div class="col-sm-12">-->
<!--                        <div class="card">-->
<!--                            <div class="card-header">-->
<!--                                <h5>Course List</h5>-->
<!--                                <span>Full Course List.</span>-->
<!--                            </div>-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th scope="col">#</th>-->
<!--                                        <th scope="col">Name</th>-->
<!--                                        <th scope="col">Course Name</th>-->
<!--                                        <th scope="col">Action</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr *ngFor="let record of courseList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">-->
<!--                                        <td>{{indexOfElement+1}}</td>-->
<!--                                        <td>{{record.course_name}}</td>-->
<!--                                        <td>-->
<!--                                            <p *ngFor="let records of record.semester"> {{records.name}} </p>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <a (click)="editCourse(record)"><mat-icon>edit</mat-icon></a>-->
<!--                                            <a (click)="deleteCourse(record)"><mat-icon>delete</mat-icon></a>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                                <pagination-controls (pageChange)="p = $event"></pagination-controls>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<!-- Container-fluid Ends-->
