<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="tabbed-card">
                <ul ngbNav #nav="ngbNav" [activeId]="active" class="pull-right nav nav-pills nav-primary">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink (click)="activeTab(1)">Update Marks</a>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink (click)="activeTab(2)">Generated marksheets</a>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xl-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" [hidden]="active != 1">
                            <h5>Subject Marks</h5><span>Update Subject Marks</span>
                        </div>
                        <div class="card-body" [hidden]="active != 1">
                            <form class="theme-form" [formGroup]="subjectMarksForm">
                                <div  class="row mb-3">
                                    <div class="col-md-6 mb-12">
                                        <label>Select Course</label>
                                        <select style="width: 100%" formControlName="course_id" class="form-select" (change)="getSemester()">
                                            <option [disabled]="tempMarkSheet.length>0" value="null">Select</option>
                                            <option [disabled]="tempMarkSheet.length>0" *ngFor="let data of courseList" [value]="data.id" >
                                                {{data.course_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="subjectMarksForm.controls['course_id'].errors?.['required'] && subjectMarksForm.controls['course_id'].touched " class="text text-danger mt-1">Course Name required</div>
                                    </div>
                                    <div class="col-md-6 mb-12">
                                        <label>Select Semester</label>
                                        <select style="width: 100%" formControlName="semester_id" class="form-select" (change)="getSubject()">
                                            <option [disabled]="tempMarkSheet.length>0" value="null">Select</option>
                                            <option [disabled]="tempMarkSheet.length>0" *ngFor="let data of semesterList" [value]="data.semester_id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="subjectMarksForm.controls['semester_id'].errors?.['required'] && subjectMarksForm.controls['semester_id'].touched " class="text text-danger mt-1">Semester Name required</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6 mb-12">
                                        <label>Select Session</label>
                                        <select style="width: 100%" formControlName="session_id" class="form-select" (change)="getStudent()">
                                            <option [disabled]="tempMarkSheet.length>0" value="null">Select</option>
                                            <option [disabled]="tempMarkSheet.length>0" *ngFor="let data of sessionList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="subjectMarksForm.controls['session_id'].errors?.['required'] && subjectMarksForm.controls['session_id'].touched " class="text text-danger mt-1">Session required</div>
                                    </div>
                                    <div class="col-md-6 mb-12">
                                        <label>Select Student</label>
                                        <select style="width: 100%" formControlName="student_id" class="form-select">
                                            <option [disabled]="tempMarkSheet.length>0" value="null">Select</option>
                                            <option [disabled]="tempMarkSheet.length>0" *ngFor="let data of studentList" [value]="data.id" >
                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="subjectMarksForm.controls['student_id'].errors?.['required'] && subjectMarksForm.controls['student_id'].touched " class="text text-danger mt-1">Student required</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Full Marks</label>
                                        <input class="form-control" formControlName="full_marks" type="text"
                                               placeholder="Enter Full Marks">
                                        <div *ngIf="subjectMarksForm.controls['full_marks'].errors?.['required'] && subjectMarksForm.controls['full_marks'].touched " class="text text-danger mt-1">Full Marks required</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-md-12 mb-3">
                                        <label>Select Subject</label>
                                        <select style="width: 100%" formControlName="subject_id" class="form-select">
                                            <option value="null">Select</option>
                                            <option *ngFor="let data of subjectList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="subjectMarksForm.controls['subject_id'].errors?.['required'] && subjectMarksForm.controls['subject_id'].touched " class="text text-danger mt-1">Subject required</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Marks</label>
                                        <input class="form-control" formControlName="marks" type="text"
                                               placeholder="Enter Marks">
                                        <div *ngIf="subjectMarksForm.controls['marks'].errors?.['required'] && subjectMarksForm.controls['marks'].touched " class="text text-danger mt-1">Marks required</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer" [hidden]="active != 1">
                            <button [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="addMarksheet()">Add</button>
<!--                            <button *ngIf="permission[1].permission === 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateCourse()">Update</button>-->
<!--                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-7" [hidden]="active != 1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Subject Marks</h5><span>Update Subject Marks</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Subject Name</th>
                                        <th scope="col">Marks</th>
                                        <th scope="col">Full Marks</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of tempMarkSheet;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.subject_name}}</td>
                                        <td>{{record.marks}}</td>
                                        <td>{{record.full_marks}}</td>
                                        <td>
                                            <a (click)="removeFromArray(indexOfElement,record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <button [disabled]="tempMarkSheet.length == 0" class="btn btn-primary me-1" (click)="saveMarkSheet()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12" [hidden]="active != 2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Subject Marks</h5><span>Update Subject Marks</span>
                            </div>
                            <div class="card-body">
                                <form class="theme-form" [formGroup]="subjectMarksSearchForm">
                                    <div  class="row mb-3">
                                        <div class="col-md-3 mb-12">
                                            <label>Select Course</label>
                                            <select style="width: 100%" formControlName="course_id" class="form-select" (change)="getSemester()">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of courseList" [value]="data.id" >
                                                    {{data.course_name}}
                                                </option>
                                            </select>
                                            <div *ngIf="subjectMarksSearchForm.controls['course_id'].errors?.['required'] && subjectMarksSearchForm.controls['course_id'].touched " class="text text-danger mt-1">Course Name required</div>
                                        </div>
                                        <div class="col-md-3 mb-12">
                                            <label>Select Semester</label>
                                            <select style="width: 100%" formControlName="semester_id" class="form-select" (change)="getSubject()">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of semesterList" [value]="data.semester_id" >
                                                    {{data.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="subjectMarksSearchForm.controls['semester_id'].errors?.['required'] && subjectMarksSearchForm.controls['semester_id'].touched " class="text text-danger mt-1">Semester Name required</div>
                                        </div>
                                        <div class="col-md-3 mb-12">
                                            <label>Select Session</label>
                                            <select style="width: 100%" formControlName="session_id" class="form-select" (change)="getStudent()">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of sessionList" [value]="data.id" >
                                                    {{data.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="subjectMarksSearchForm.controls['session_id'].errors?.['required'] && subjectMarksSearchForm.controls['session_id'].touched " class="text text-danger mt-1">Session required</div>
                                        </div>
                                        <div class="col-md-3 mb-12">
                                            <button style="margin-top: 30px" class="btn btn-primary me-1" (click)="getMarkSheet()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Student Name</th>
                                        <th scope="col">Subject - Full Marks - Marks</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of markSheetList;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.student_name}}</td>
                                        <td>
                                            <p *ngFor="let record1 of record.subject_details">
                                                {{record1.name}} - {{record1.full_marks}} - {{record1.marks}}
                                            </p>
                                        </td>
                                        <td>
                                            <a (click)="editMarksheet(record)"><mat-icon>edit</mat-icon></a>
                                            <a (click)="removeFromArray(indexOfElement,record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="card-footer">-->
<!--                                <button [disabled]="tempMarkSheet.length == 0" class="btn btn-primary me-1" (click)="saveMarkSheet()">Save</button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
