<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" [hidden]="active != 1">
                            <h5>Manual Scholarship</h5><span>Manual Scholarship</span>
                        </div>
                        <div class="card-header" [hidden]="active != 2">
                            <h5>Show Manual Scholarship</h5>
                        </div>
                        <div class="tabbed-card">
                            <ul ngbNav #nav="ngbNav" [activeId]="active" class="pull-right nav nav-pills nav-primary">
                                <li [ngbNavItem]="1">
                                    <a ngbNavLink (click)="activeTab(1)">Add Manual Scholarship</a>
                                </li>
                                <li [ngbNavItem]="2">
                                    <a ngbNavLink (click)="activeTab(2)">Show Manual Scholarship</a>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="mt-2"></div>
                        </div>
                        <div [hidden]="active != 1">
                            <div class="card-body" [hidden]="active != 1">
                                <div *ngFor="let item of scholarshipField ;let indexOfElement=index">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label>Select Course</label>
                                            <select (change)="getSemester(indexOfElement)" class="form-select"
                                                [(ngModel)]="scholarshipArray[indexOfElement].course_id" required
                                                style="width: 100%">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of courseList" [value]="data.id">
                                                    {{data.course_name}}
                                                </option>
                                            </select>
                                            <!-- <div *ngIf="educationQualificationForm.controls['course_id'].errors?.['required'] && educationQualificationForm.controls['course_id'].touched "
                                                class="text text-danger mt-1">Course required
                                            </div> -->
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Select Semester</label>
                                            <select (change)="getStudent(indexOfElement)" class="form-select"
                                                [(ngModel)]="scholarshipArray[indexOfElement].semester_id" required
                                                style="width: 100%">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of semesterList[indexOfElement]"
                                                    [value]="data.semester_id">
                                                    {{data.name}}
                                                </option>
                                            </select>
                                            <!-- <div *ngIf="educationQualificationForm.controls['semester_id'].errors?.['required'] && educationQualificationForm.controls['semester_id'].touched "
                                                class="text text-danger mt-1">Semester required
                                            </div> -->
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Select Student</label>
                                            <select class="form-select"
                                                [(ngModel)]="scholarshipArray[indexOfElement].student_id" required
                                                style="width: 100%">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of filteredStudentList[indexOfElement]"
                                                    [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select>
                                            <!-- <div *ngIf="educationQualificationForm.controls['student_id'].errors?.['required'] && educationQualificationForm.controls['student_id'].touched "
                                                class="text text-danger mt-1">Student required
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label>Type of Sholarship</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="scholarshipArray[indexOfElement].type_of_scholarship"
                                                placeholder="Type of Sholarship" required>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>Amount</label>
                                            <input type="number" class="form-control"
                                                [(ngModel)]="scholarshipArray[indexOfElement].amount"
                                                placeholder="Amount" required>
                                        </div>
                                        <div class="col-md-2 mb-3"
                                            *ngIf="(indexOfElement + 1) == scholarshipField.length && !isUpdatable">
                                            <a (click)="addField()" style=""><mat-icon
                                                    style="font-size: 40px;height: 60px; width: 40px; line-height: 2">add_box</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <button (click)="saveScholarship()" [hidden]="isUpdatable" class="btn btn-primary me-1"
                                        style="margin-top: 30px">Save
                                    </button>
                                    <button (click)="updateScholarship()" [hidden]="!isUpdatable" class="btn btn-primary me-1"
                                        style="margin-top: 30px">Update
                                    </button>
                                    <button (click)="cancelScholarship()" [hidden]="!isUpdatable" class="btn btn-primary me-1"
                                        style="margin-top: 30px">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div [hidden]="active != 2">
                            <div class="card-body">
                                <form class="theme-form" [formGroup]="scholarshipSearchForm">
                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label>Select Course</label>
                                            <select (change)="getSemesterFind()" class="form-select"
                                                formControlName="course_id" required style="width: 100%">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of courseList" [value]="data.id">
                                                    {{data.course_name}}
                                                </option>
                                            </select>
                                            <div *ngIf="scholarshipSearchForm.controls['course_id'].errors?.['required'] && scholarshipSearchForm.controls['course_id'].touched "
                                                class="text text-danger mt-1">Course Name required</div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Select Semester</label>
                                            <select class="form-select" (change)="getStudentSearch()"
                                                formControlName="semester_id" required style="width: 100%">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of semesterListSearch"
                                                    [value]="data.semester_id">
                                                    {{data.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="scholarshipSearchForm.controls['semester_id'].errors?.['required'] && scholarshipSearchForm.controls['semester_id'].touched "
                                                class="text text-danger mt-1">Semester Name required</div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Select Student</label>
                                            <select class="form-select" formControlName="student_id" required
                                                style="width: 100%">
                                                <option value="null">Select</option>
                                                <option *ngFor="let data of studentListSearch" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select>
                                            <div *ngIf="scholarshipSearchForm.controls['semester_id'].errors?.['required'] && scholarshipSearchForm.controls['semester_id'].touched "
                                                class="text text-danger mt-1">Semester Name required</div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <button class="btn btn-primary me-1" style="margin-top: 30px;"
                                                (click)="getManualScholarship()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th>Course Name</th>
                                            <th>Semester Name</th>
                                            <th>Student Name</th>
                                            <th>Type of Scholarship</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of manualScholarshipList ;let indexOfElement=index">
                                            <td>{{indexOfElement+1}}</td>
                                            <td>{{record.course_name}}</td>
                                            <td>{{record.semester_name}}</td>
                                            <td>{{record.student_name}}</td>
                                            <td>{{record.type_of_scholarship}}</td>
                                            <td>{{record.amount}}</td>
                                            <td>
                                                <a *ngIf="permission[1].permission == 1"
                                                    (click)="editScholarship(record)"><mat-icon>edit</mat-icon></a>
                                                <a *ngIf="permission[2].permission == 1"
                                                    (click)="deleteScholarship(record)"><mat-icon>delete</mat-icon></a>
                                                    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->