<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title></title>-->
<!--    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">-->
<!--</head>-->
<!--</html>-->
<div *ngIf="erpSettings">
<title >{{erpSettings.title}}</title>
<link rel="icon" type="image/x-icon" href="{{FILE_URL}}/fav_icon/{{erpSettings.fav_icon}} | safe">
</div>
<!--<img src="{{FILE_URL}}/fav_icon/{{erpSettings.fav_icon}}" alt="">-->
<!--<link rel="icon" type="image/x-icon" href="{{FILE_URL}}/fav_icon/{{erpSettings.fav_icon}}">-->

<app-loader></app-loader>
<router-outlet></router-outlet>
