<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Item Supplier</h5><span>Item Supplier List</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="itemSupplierForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Name</label>
                                        <input class="form-control" formControlName="name" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Name">
                                        <div *ngIf="itemSupplierForm.controls['name'].errors?.['required'] && itemSupplierForm.controls['name'].touched " class="text text-danger mt-1">Name required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Phone</label>
                                        <input class="form-control" formControlName="phone" type="text"
                                               placeholder="Enter Phone">
                                        <div *ngIf="itemSupplierForm.controls['phone'].errors?.['required'] && itemSupplierForm.controls['phone'].touched " class="text text-danger mt-1">Phone required</div>
                                        <div *ngIf="itemSupplierForm.controls['phone'].touched && itemSupplierForm.controls['phone'].errors?.['pattern']" class="text text-danger mt-1">Invalid Phone Number</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Email</label>
                                        <input class="form-control" formControlName="email" id="exampleInputEmail1" type="text"
                                               placeholder="Enter Email">
                                        <div *ngIf="itemSupplierForm.controls['email'].errors?.['required'] && itemSupplierForm.controls['email'].touched " class="text text-danger mt-1">Email is required</div>
                                        <div *ngIf="itemSupplierForm.controls['email'].touched && itemSupplierForm.controls['email'].errors?.['email']" class="text text-danger mt-1">Invalid Email</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Address</label>
                                        <input class="form-control" formControlName="address" type="text"
                                               placeholder="Enter Address">
                                        <div *ngIf="itemSupplierForm.controls['address'].errors?.['required'] && itemSupplierForm.controls['address'].touched " class="text text-danger mt-1">Address required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Contact Person Name</label>
                                        <input class="form-control" formControlName="contact_person_name" type="text"
                                               placeholder="Enter Contact Person Name">
                                        <div *ngIf="itemSupplierForm.controls['contact_person_name'].errors?.['required'] && itemSupplierForm.controls['contact_person_name'].touched " class="text text-danger mt-1">Contact Person Name required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Contact Person Phone</label>
                                        <input class="form-control" formControlName="contact_person_phone" type="text"
                                               placeholder="Enter Contact Person Phone">
                                        <div *ngIf="itemSupplierForm.controls['contact_person_phone'].errors?.['required'] && itemSupplierForm.controls['contact_person_phone'].touched " class="text text-danger mt-1">Contact Person Phone required</div>
                                        <div *ngIf="itemSupplierForm.controls['contact_person_phone'].touched && itemSupplierForm.controls['contact_person_phone'].errors?.['pattern']" class="text text-danger mt-1">Invalid Phone Number</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Contact Person Email</label>
                                        <input class="form-control" formControlName="contact_person_email" type="text"
                                               placeholder="Enter Contact Person Email">
                                        <div *ngIf="itemSupplierForm.controls['contact_person_email'].errors?.['required'] && itemSupplierForm.controls['contact_person_email'].touched " class="text text-danger mt-1">Email is required</div>
                                        <div *ngIf="itemSupplierForm.controls['contact_person_email'].touched && itemSupplierForm.controls['contact_person_email'].errors?.['email']" class="text text-danger mt-1">Invalid Email</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Description</label>
                                        <input class="form-control" formControlName="description" type="text"
                                               placeholder="Enter Description">
                                        <div *ngIf="itemSupplierForm.controls['description'].errors?.['required'] && itemSupplierForm.controls['description'].touched " class="text text-danger mt-1">Description required</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveItemSupplier()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateItemSupplier()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="row" *ngIf="permission[3].permission == 1">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Item Supplier</h5>
                                <span>Item Supplier List.</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Contact Person</th>
                                        <th scope="col">Contact Phone</th>
                                        <th scope="col" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of itemSupplier;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.name}}</td>
                                        <td>{{record.contact_person_name}}</td>
                                        <td>{{record.contact_person_phone}}</td>
                                        <td>
                                            <a *ngIf="permission[1].permission == 1" (click)="editItemSupplier(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deleteItemSupplier(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--                                <pagination-controls (pageChange)="p = $event"></pagination-controls>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->