<div class="container-fluid">
    <div class="row" [hidden]="showStudentList" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-6">
            <div class="row" >
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Agent</h5><span>Agent Name</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="agentForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">First Name</label>
                                            <input class="form-control" formControlName="first_name" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter First Name">
                                        <div *ngIf="agentForm.controls['first_name'].errors?.['required'] && agentForm.controls['first_name'].touched " class="text text-danger mt-1">First Name required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Last Name</label>
                                            <input class="form-control" formControlName="last_name" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Last Name">
                                        <div *ngIf="agentForm.controls['last_name'].errors?.['required'] && agentForm.controls['last_name'].touched " class="text text-danger mt-1">Last Name required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Mobile Number</label>
                                            <input class="form-control" formControlName="mobile_no" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Mobile Number">
                                        <div *ngIf="agentForm.controls['mobile_no'].errors?.['required'] && agentForm.controls['mobile_no'].touched " class="text text-danger mt-1">Mobile Number required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Category</label>
                                        <select style="width: 100%" formControlName="category_id" class="form-select" required>
                                            <option *ngFor="let data of categoryList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="agentForm.controls['category_id'].errors?.['required'] && agentForm.controls['category_id'].touched " class="text text-danger mt-1">Category Name required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Email</label>
                                            <input class="form-control" formControlName="email" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Email">
                                        <div *ngIf="agentForm.controls['email'].errors?.['required'] && agentForm.controls['email'].touched " class="text text-danger mt-1">Email is required</div>
                                        <div *ngIf="agentForm.controls['email'].touched && agentForm.controls['email'].errors?.['email']" class="text text-danger mt-1">Invalid Email</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Commission % (Per Student)</label>
                                            <input class="form-control" formControlName="commission_percentage" id="exampleInputEmail1" type="text"
                                                   placeholder="Commission %">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Commission ₹ (Per Student)</label>
                                            <input class="form-control" formControlName="commission_flat" id="exampleInputEmail1" type="text"
                                                   placeholder="Commission ₹">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [disabled]="!agentForm.valid" [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveAgent()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateAgent()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                            <!--                            <button class="btn btn-secondary">Cancel</button>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="row" *ngIf="permission[3].permission == 1">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Agent List</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table" style="text-align: center;">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Mobile</th>
                                        <th scope="col">Email</th>
                                        <th scope="col" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of agentList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td><a style="cursor: pointer" (click)="getStudentListByAgent(record)">{{record.first_name}} {{record.last_name}}</a></td>
                                        <td>{{record.mobile_no}}</td>
                                        <td>{{record.email}}</td>
                                        <td>
                                            <a *ngIf="permission[1].permission == 1" (click)="editAgent(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deleteAgent(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls [hidden]="agentList.length<10" (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!showStudentList" *ngIf="selectedAgent && permission.length > 0">
        <div class="col-sm-12">
            <a style="cursor: pointer;" (click)="returnBack()"><mat-icon>backspace</mat-icon></a>
            <div class="card">
                <div class="row mt-3" style="margin-left: 30px; margin-right: 30px">
                    <div class="col-3 mt-2 mt-2">
                        <label>First Name</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.first_name"
                               placeholder="First Name">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Last Name</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.last_name"
                               placeholder="Last Name">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Mobile Number</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.mobile_no"
                               placeholder="Mobile Number">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Commission %</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.commission_percentage"
                               placeholder="Commission Percentage">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Commission Flat</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.commission_flat"
                               placeholder="Commission Flat">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Admitted Student</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.admitted_student"
                               placeholder="Admitted Student">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Non Admitted Student</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.non_admitted_student"
                               placeholder="Non Admitted Student">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Total Payment</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.total"
                               placeholder="Total Payment">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Total Paid</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.total_paid"
                               placeholder="Total Paid">
                    </div>
                    <div class="col-3 mt-2">
                        <label>Due Payment</label>
                        <input disabled class="form-control" type="text" [(ngModel)]="selectedAgent.due_payment"
                               placeholder="Due payment">
                    </div>
                </div>
                <div class="card-header">
                    <h5>Student List</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Blood Group</th>
                                <th scope="col">Type</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let record of studentList ;let indexOfElement=index">
                                <td>{{indexOfElement + 1}}</td>
                                <td>{{record.first_name}} {{record.middle_name}} {{record.last_name}}</td>
                                <td>{{record.gender}}</td>
                                <td>{{record.dob}}</td>
                                <td>{{record.blood_group}}</td>
                                <td>{{record.user_type}}</td>
                                <td>{{record.email}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->