<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Subject</h5><span>Add Subject</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="subjectForm">
                                <div class="form-group">
                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Subject Name</label>
                                    <input class="form-control" formControlName="name" id="exampleInputEmail1" type="text"
                                           placeholder="Enter Course Name">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label pt-0" for="exampleInputEmail1">Subject Code</label>
                                    <input class="form-control" formControlName="subject_code" id="exampleInputEmail1" type="text"
                                           placeholder="Enter Subject Code">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [hidden]="isUpdatable == true" [disabled]="!this.subjectForm.valid" class="btn btn-primary me-1" (click)="saveSubject()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" [disabled]="this.subjectForm.pristine" class="btn btn-primary me-1" (click)="updateSubject()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                            <!--                            <button class="btn btn-secondary">Cancel</button>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Subject List</h5>
                                <span>Full Subject List.</span>
                            </div>
                            <div class="table-responsive" *ngIf="permission[3].permission == 1">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Subject Name</th>
                                        <th scope="col" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of subjectList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.name}}</td>
                                        <td>{{record.subject_code}}</td>
                                        <td>
                                            <a *ngIf="permission[1].permission == 1" (click)="editSubject(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deleteSubject(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->