<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Experience</h5><span>Staff Experience</span>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="staffExperienceForm" class="theme-form">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Select Staff</label>
                                        <select formControlName="staff_id" class="form-select" required
                                            style="width: 100%">
                                            <option value="null"> Select a Staff</option>
                                            <option *ngFor="let data of memberList" [value]="data.id">
                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Designation</label>
                                        <input class="form-control" formControlName="designation"
                                            placeholder="Enter Designation" type="text">
                                        <div *ngIf="staffExperienceForm.controls['designation'].errors?.['required'] && staffExperienceForm.controls['designation'].touched "
                                            class="text text-danger mt-1">Designation required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">From Date</label>
                                        <input class="form-control" formControlName="from_date" type="date">
                                        <div *ngIf="staffExperienceForm.controls['from_date'].errors?.['required'] && staffExperienceForm.controls['from_date'].touched "
                                            class="text text-danger mt-1">From Date required
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">To Date</label>
                                        <input class="form-control" formControlName="to_date" type="date">
                                        <div *ngIf="staffExperienceForm.controls['to_date'].errors?.['required'] && staffExperienceForm.controls['to_date'].touched "
                                            class="text text-danger mt-1">To Date required
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Organization</label>
                                        <input class="form-control" formControlName="organization"
                                            placeholder="Enter Organization" type="text">
                                        <div *ngIf="staffExperienceForm.controls['organization'].errors?.['required'] && staffExperienceForm.controls['organization'].touched "
                                            class="text text-danger mt-1">Organization required
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label pt-0">Experience(Year and
                                            Month)</label>
                                        <input class="form-control" formControlName="experience"
                                            placeholder="Enter Experience" type="text">
                                        <div *ngIf="staffExperienceForm.controls['experience'].errors?.['required'] && staffExperienceForm.controls['experience'].touched "
                                            class="text text-danger mt-1">Experience required
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="col-form-label pt-0">Upload Experience Proof</label>
                                        <input (change)="uploadExperienceProof($event)" class="form-control"
                                            formControlName="experience_proof" type="file">
                                        <div *ngIf="staffExperienceForm.controls['experience_proof'].errors?.['required'] && staffExperienceForm.controls['experience_proof'].touched "
                                            class="text text-danger mt-1">Experience Proof required
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button (click)="saveStaffExperience()" [hidden]="isUpdatable == true"
                                class="btn btn-primary me-1" *ngIf="permission[0].permission == 1">Submit
                            </button>
                            <button (click)="updateStaffExperience()" [hidden]="isUpdatable == false"
                                class="btn btn-primary me-1" *ngIf="permission[1].permission == 1">Update
                            </button>
                            <button (click)="cancelUpdate()" [hidden]="isUpdatable == false"
                                class="btn btn-primary me-1">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div *ngIf="permission[3].permission == 1" class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Staff Experience</h5>
                                <span>Full Staff Experience List.</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Staff Name</th>
                                            <th scope="col">Designation</th>
                                            <th scope="col">Organization</th>
                                            <th scope="col">Experience</th>
                                            <th scope="col">From Date</th>
                                            <th scope="col">To Date</th>

                                            <th *ngIf="permission[1].permission == 1 && permission[2].permission == 1"
                                                scope="col">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let record of staffExperienceList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                            <td>{{indexOfElement + 1}}</td>
                                            <td>{{record.staff_name}}</td>
                                            <td>{{record.designation}}</td>
                                            <td>{{record.organization}}</td>
                                            <td>{{record.experience}}</td>
                                            <td>{{record.from_date}}</td>
                                            <td>{{record.to_date}}</td>

                                            <td>
                                                <a (click)="editStaffExperience(record)"
                                                    *ngIf="permission[1].permission == 1">
                                                    <mat-icon>edit</mat-icon>
                                                </a>
                                                <a (click)="deleteStaffExperience(record)"
                                                    *ngIf="permission[2].permission == 1">
                                                    <mat-icon>delete</mat-icon>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event"
                                    *ngIf="staffExperienceList.length > 8"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>