<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Approve Leave</h5><span>Approve Leave List</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <input style="width: 100%" class="form-control" [(ngModel)]="searchItem" type="text" placeholder="Search Or Filter">
                                </div>
                                <div class="col-3"></div>
                            </div>

                            <table class="table" style="text-align: center">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Leave Type</th>
                                    <th scope="col">From Date</th>
                                    <th scope="col">To Date</th>
                                    <th scope="col">Total Days</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody [hidden]="leaveList.length == 0">
                                <tr *ngFor="let record of leaveList | customFilter:searchItem | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                    <td>{{indexOfElement+1}}</td>
                                    <td>{{record.user_name}}</td>
                                    <td>{{record.leave_type_name}}</td>
                                    <td>{{record.from_date}}</td>
                                    <td>{{record.to_date}}</td>
                                    <td>{{record.total_days}}</td>
                                    <td>{{record.reason}}</td>
                                    <td>
                                        <button class="btn btn-primary me-1" (click)="leaveAction(record,1)">Approve</button>
                                        <button class="btn btn-primary me-1" (click)="leaveAction(record,2)">Reject</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row" [hidden]="leaveList.length > 0">
                                <div class="col"></div>
                                <div class="col"><h2 style="text-align: center;">No Data</h2></div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
