<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">

                        <div class="card-header" [hidden]="active != 1">
                            <h5>Create Semester Table</h5>
                        </div>
                        <div class="card-header" [hidden]="active != 2">
                            <h5>Show Semester Table</h5>
                        </div>
                        <div class="tabbed-card">
                            <ul ngbNav #nav="ngbNav" [activeId]="1" class="pull-right nav nav-pills nav-primary">
                                <li [ngbNavItem]="1">
                                    <a ngbNavLink (click)="activeTab(1)">Create Semester Table</a>
                                </li>
                                <li [ngbNavItem]="2">
                                    <a ngbNavLink (click)="activeTab(2)">Show Semester Table</a>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="mt-2"></div>
                        </div>

<!--                        <div class="card-header">-->
<!--                            <h5>Create Semester Table</h5>-->
<!--                        </div>-->
                        <div class="card-body" [hidden]="active != 1">
                            <form [formGroup]="semesterTimeTableForm">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Select Course</label>
                                        <select style="width: 100%" formControlName="course_id" class="form-select" required (change)="getSemester()">
                                            <option *ngFor="let data of courseList" [value]="data.id" >
                                                {{data.course_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="semesterTimeTableForm.controls['course_id'].errors?.['required'] && semesterTimeTableForm.controls['course_id'].touched " class="text text-danger mt-1">Course Name required</div>
                                    </div>
                                    <div class="col-6">
                                        <label>Select Semester</label>
                                        <select style="width: 100%" formControlName="semester_id" class="form-select" required (change)="getSubject()">
                                            <option *ngFor="let data of semesterList" [value]="data.semester_id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="semesterTimeTableForm.controls['semester_id'].errors?.['required'] && semesterTimeTableForm.controls['semester_id'].touched " class="text text-danger mt-1">Semester required</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label>Select Subject</label>
                                        <select style="width: 100%" formControlName="subject_id" class="form-select" required>
                                            <option [selected]="false" *ngFor="let data of subjectList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="semesterTimeTableForm.controls['subject_id'].errors?.['required'] && semesterTimeTableForm.controls['subject_id'].touched " class="text text-danger mt-1">Subject Name required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Teacher List</label>
                                        <select style="width: 100%" formControlName="teacher_id" class="form-select" required>
                                            <option [selected]="false" *ngFor="let data of teacherList" [value]="data.teacher_id" >
                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="semesterTimeTableForm.controls['teacher_id'].errors?.['required'] && semesterTimeTableForm.controls['teacher_id'].touched " class="text text-danger mt-1">Teacher required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Time From</label>
                                        <input type="time" class="form-control" formControlName="time_from" placeholder="Time From" required>
<!--                                        <ngb-timepicker formControlName="time_from" [spinners]="false" class="time-picker-custom"></ngb-timepicker>-->
                                        <div *ngIf="semesterTimeTableForm.controls['time_from'].errors?.['required'] && semesterTimeTableForm.controls['time_from'].touched " class="text text-danger mt-1">Time From required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Time To</label>
                                        <input type="time" class="form-control" formControlName="time_to" placeholder="Time Tpo" required>
<!--                                        <ngb-timepicker formControlName="time_to" [spinners]="false" class="time-picker-custom"></ngb-timepicker>-->
                                        <div *ngIf="semesterTimeTableForm.controls['time_to'].errors?.['required'] && semesterTimeTableForm.controls['time_to'].touched " class="text text-danger mt-1">Time To required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Select Day</label>
                                        <select style="width: 100%" formControlName="week_id" class="form-select" required>
                                            <option [selected]="false" *ngFor="let data of weekList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="semesterTimeTableForm.controls['week_id'].errors?.['required'] && semesterTimeTableForm.controls['week_id'].touched " class="text text-danger mt-1">Week required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Room No.</label>
                                        <input type="text" class="form-control" formControlName="room_number" placeholder="Room no." required>
                                        <div *ngIf="semesterTimeTableForm.controls['room_number'].errors?.['required'] && semesterTimeTableForm.controls['room_number'].touched " class="text text-danger mt-1">Room no. required</div>
                                    </div>
                                </div>
                                <button *ngIf="!isUpdatable && permission[0].permission == 1" class="btn btn-primary me-1" type="submit" (click)="createArray()">Add</button>
                                <button *ngIf="isUpdatable && permission[1].permission == 1" class="btn btn-primary me-1" type="submit" (click)="updateSemesterTimeTable()">Update</button>
                                <button *ngIf="isUpdatable" class="btn btn-primary me-1" type="submit" (click)="cancelUpdate()">Cancel</button>
                            </form>
                        </div>

                        <div class="card-body" [hidden]="active != 2 && permission[3].permission == 1">
                            <div class="col-sm-12 ">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Semester Time Table</h5>
                                    </div>
                                    <div class="card-body">
                                        <form class="needs-validation" [formGroup]="semesterTimeTableSearchForm">
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <div class="form-group">
                                                        <label>Select Course</label>
                                                        <select formControlName="course_id" class="form-select" required (change)="getSemesterSearch()">
                                                            <option *ngFor="let data of courseList" [value]="data.id" >
                                                                {{data.course_name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <div class="form-group">
                                                        <label>Select Semester</label>
                                                        <select formControlName="semester_id" class="form-select" required>
                                                            <option *ngFor="let data of semesterList" [value]="data.semester_id">
                                                                {{data.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" (click)="searchTimeTable()" type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Semester Time Table</h5>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr style="text-align: center;">
                                                <th scope="col" colspan="2">Monday</th>
                                                <th scope="col" colspan="2">Tuesday</th>
                                                <th scope="col" colspan="2">Wednesday</th>
                                                <th scope="col" colspan="2">Thursday</th>
                                                <th scope="col" colspan="2">Friday</th>
                                                <th scope="col" colspan="2">Saturday</th>
                                                <th scope="col" colspan="2">Sunday</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr style="text-align: center;">
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week1" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week2" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week3" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week4" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week5" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week6" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td colspan="2" style="width:300px;">

                                                    <div class="newsemester m-2" *ngFor="let record of week7" style="background-color: lightgrey; border: 1px solid black; border-radius: 10px">
                                                        subject : {{record.subject_name}} <br>
                                                        Time : {{record.time_from}} - {{record.time_to}} <br>
                                                        Room no. : {{record.room_no}}
                                                        <div class="middle">
                                                            <a *ngIf="permission[1].permission == 1" class="text" style="cursor: pointer;" (click)="editSemesterTimeTable(record)"><mat-icon>edit</mat-icon></a>
                                                            <a *ngIf="permission[2].permission == 1" class="text1" style="cursor: pointer;" (click)="deleteSemesterTimeTable(record)"><mat-icon>delete</mat-icon></a>
                                                        </div>
                                                    </div>


                                                </td>
                                            </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12" [hidden]="active != 1" *ngIf="!isUpdatable">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>List</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Week</th>
                                        <th scope="col">Subject Name</th>
                                        <th scope="col">Teacher Name</th>
                                        <th scope="col">Time From</th>
                                        <th scope="col">Time To</th>
                                        <th scope="col">Room No</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of tableArray;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.week_name}}</td>
                                        <td>{{record.subject_name}}</td>
                                        <td>{{record.teacher_name}}</td>
                                        <td>{{record.time_from}}</td>
                                        <td>{{record.time_to}}</td>
                                        <td>{{record.room_no}}</td>
                                        <td>
<!--                                            <a (click)="editCourse(record)"><mat-icon>edit</mat-icon></a>-->
                                            <a (click)="removeRecord(indexOfElement)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button [hidden]="tableArray.length<1" class="btn btn-primary ml-5" type="submit" (click)="createSemesterTimetable()">Save</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->