<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Basic Accordion</h5>
        </div>
        <div class="card-body">
          <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="false">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Simple</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you
                    probably
                    haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </div>
              </div>
            </div>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  <span>&#9733; <b>Fancy</b> title &#9733;</span>
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you
                    probably
                    haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </div>
              </div>
            </div>
            <div ngbAccordionItem [disabled]="true">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Disabled</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you
                    probably
                    haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>One open panel at a time</h5>
        </div>
        <div class="card-body">
          <div ngbAccordion [closeOthers]="true">
            @for (item of items; track item) {
            <div ngbAccordionItem [collapsed]="item !== 'First'">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{ item }}</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    3 wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                    proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Toggle panels</h5>
        </div>
        <div class="card-body">
          <div ngbAccordion #accordion="ngbAccordion">
            <div ngbAccordionItem="first">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>First panel</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably
                    haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </div>
              </div>
            </div>
            <div ngbAccordionItem="second">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Second panel</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably
                    haven't heard of them accusamus labore sustainable VHS.
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="btn-showcase">
            <button class="btn btn-sm btn-outline-primary me-2" (click)="accordion.toggle('first')">Toggle
              first</button>
            <button class="btn btn-sm btn-outline-primary me-2" (click)="accordion.toggle('second')">Toggle
              second</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3>Horizontal accordion</h3>
          <p class="f-m-light mt-1">Add the <code>.collapse-horizontal</code> modifier class to transition the width
            instead
            of
            height and set a width on the immediate child element.</p>
        </div>
        <div class="card-body">
          <div class="common-flex">
            <button class="btn btn-secondary" type="button" (click)="onClick()">Toggle width collapse</button>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <div class="collapse collapse-horizontal mt-3" id="collapseWidthExample" [class.show]="togglecollpese">
                <div class="card card-body bg-secondary-light accordion-h-space mb-0">The collapse plugin also
                  supports
                  horizontal collapsing. Add the .collapse-horizontal modifier class to transition the width
                  instead of height
                  and set a width on the immediate child element. Feel free to write your own custom Sass, use
                  inline styles,
                  or use our width utilities.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>