<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" [hidden]="active != 1">
                            <h5>Staff Education</h5><span>Staff Education</span>
                        </div>
                        <div class="card-header" [hidden]="active != 2">
                            <h5>Show All Staff Education</h5>
                        </div>
                        <div class="tabbed-card">
                            <ul ngbNav #nav="ngbNav" [activeId]="1" class="pull-right nav nav-pills nav-primary">
                                <li [ngbNavItem]="1">
                                    <a ngbNavLink (click)="activeTab(1)">Add Staff Education</a>
                                </li>
                                <li [ngbNavItem]="2">
                                    <a ngbNavLink (click)="activeTab(2)">Show Staff Education</a>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="mt-2"></div>
                        </div>
                        <div [hidden]="active != 1">
                            <div class="card-body" [hidden]="active != 1">
                                <div *ngFor="let item of totalstaffEducation ;let indexOfElement=index">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label>Select Staff</label>
                                            <!-- <select style="width: 100%"
                                                [(ngModel)]="staffEducationArray[indexOfElement].staff_id"
                                                class="form-select" required>
                                                <option value="null"> Select a Staff</option>
                                                <option *ngFor="let data of memberList" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select> -->
                                            <ng-select [(ngModel)]="staffEducationArray[indexOfElement].staff_id"
                                                class="form-control">
                                                @for (car of memberList; track car.id) {
                                                <ng-option [value]="car.id">{{car.first_name}} {{car.middle_name}} {{car.last_name}}</ng-option>
                                                }
                                            </ng-select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Select Degree</label>
                                            <select style="width: 100%"
                                                [(ngModel)]="staffEducationArray[indexOfElement].degree"
                                                class="form-select" required>
                                                <option value="null"> Select a degree</option>
                                                <!-- <option value="Graduation">Graduation</option>
                                                <option value="Post Graduation">Post Graduation</option>
                                                <option value="PHD">PHD</option>
                                                <option value="Post PHD">Post PHD</option>
                                                <option value="Others">Others</option> -->

                                                <option *ngFor="let degree of degreeList" [value]="degree.id">
                                                    {{degree.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label>specialization</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="staffEducationArray[indexOfElement].specialization"
                                                placeholder="specialization" required>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>university_name</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="staffEducationArray[indexOfElement].university_name"
                                                placeholder="university_name" required>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <a *ngIf="(indexOfElement + 1) == totalstaffEducation.length && !isUpdatable"
                                                (click)="addField()" style=""><mat-icon
                                                    style="font-size: 40px;height: 60px; width: 40px; line-height: 2">add_box</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label>percentage</label>
                                            <input type="number" class="form-control"
                                                [(ngModel)]="staffEducationArray[indexOfElement].percentage"
                                                placeholder="percentage" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>grade</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="staffEducationArray[indexOfElement].grade"
                                                placeholder="grade" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>File</label>
                                            <input type="file" class="form-control"
                                                [(ngModel)]="staffEducationArray[indexOfElement].file_name"
                                                (change)="fileUpload($event, indexOfElement)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button [hidden]="isUpdatable == true" class="btn btn-primary me-1"
                                        (click)="saveStaffEducation()"
                                        *ngIf="permission[0].permission == 1">Submit</button>
                                    <button [hidden]="isUpdatable == false" class="btn btn-primary me-1"
                                        (click)="updateStaffEducation()"
                                        *ngIf="permission[1].permission == 1">Update</button>
                                    <button [hidden]="isUpdatable == false" class="btn btn-primary me-1"
                                        (click)="cancelUpdate()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="active != 2" *ngIf="permission[3].permission == 1">
                            <div class="card-body">
                                <form class="theme-form" [formGroup]="searchForm">
                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label>Select Staff</label>
                                            <!-- <select style="width: 100%" formControlName="staff_id" class="form-select"
                                                required>
                                                <option value="null"> Select a Staff</option>
                                                <option *ngFor="let data of memberList" [value]="data.id">
                                                    {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                                </option>
                                            </select> -->
                                            <ng-select formControlName="staff_id"
                                                class="form-control">
                                                @for (car of memberList; track car.id) {
                                                <ng-option [value]="car.id">{{car.first_name}} {{car.middle_name}} {{car.last_name}}</ng-option>
                                                }
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <button class="btn btn-primary me-1" style="margin-top: 30px;"
                                                (click)="getStaffEducation()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Sl.NO</th>
                                            <th colspan="2">Staff Name</th>
                                            <th colspan="2">Degree</th>
                                            <th colspan="2">Specialization</th>
                                            <th colspan="2">University Name</th>
                                            <th colspan="2">Percentage</th>
                                            <th colspan="2">Grade</th>
                                            <th colspan="2">Download</th>
                                            <th colspan="2"
                                                *ngIf="permission[1].permission == 1 && permission[2].permission == 1">
                                                Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of staffEducationList ;let indexOfElement=index">

                                            <td colspan="2">{{indexOfElement + 1}}</td>
                                            <td colspan="2">{{record.staff_name}}</td>
                                            <td colspan="2">{{record.degree_name}}</td>
                                            <td colspan="2">{{record.specialization}}</td>
                                            <td colspan="2">{{record.university_name}}</td>
                                            <td colspan="2">{{record.percentage}}</td>
                                            <td colspan="2">{{record.grade}}</td>
                                            <td colspan="2">
                                                <a data-placement="left" target="_blank" href="{{record.file_url}}"
                                                    *ngIf="record.file_url">
                                                    <mat-icon>cloud_download</mat-icon>
                                                </a>
                                                <span *ngIf="!record.file_url">No file found</span>
                                            </td>
                                            <td>
                                                <a (click)="editStaffEducation(record)"
                                                    *ngIf="permission[1].permission == 1"><mat-icon>edit</mat-icon></a>
                                                <a (click)="deleteStaffEducation(record)"
                                                    *ngIf="permission[2].permission == 1"><mat-icon>delete</mat-icon></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <pagination-controls *ngIf="paperList.length > 5"
                                (pageChange)="p = $event"></pagination-controls> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->