/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
body 
{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
::-webkit-scrollbar 
{
    width: 3px;
} 
/* Track */
::-webkit-scrollbar-track 
{
    background: #FFF;
}
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #f91d48; 
}
.ng-dropdown-panel
{
    background-color: #FFF !important;
    padding: 5px 20px;
}
.ng-option{
    padding: 2px 0;
}