/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
body 
{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
::-webkit-scrollbar 
{
    width: 3px;
} 
/* Track */
::-webkit-scrollbar-track 
{
    background: #FFF;
}
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #f91d48; 
}
.ng-dropdown-panel
{
    background-color: #FFF !important;
    padding: 5px 20px;
}
.ng-option{
    padding: 2px 0;
}
.table
{
    text-align: center;
}
form.ng-untouched.ng-pristine.ng-invalid label {
    font-size: 13px;
}
.form-control {
    font-size: 13px;
    height: 33px;
}
.onedividersection
{
    background-color: #ecf0fa;
    border-radius: 5px;
    padding: 15px 10px;
}
.twodivider_section
{
    background-color: #ecf0fa;
    border-radius: 5px;
    padding: 15px 10px;
}
.fullform_dividersection
{
    background-color: #ecf0fa;
    border-radius: 5px;
    padding: 15px 10px;
}
.lastform_dividersection
{
    background-color: #ecf0fa;
    border-radius: 5px;
    padding: 15px 10px;
}
.ssthreebtn_design
{
    margin-left: auto;
    margin-right: auto !important;
    display: block;
    margin-top: 30px;
    width: 150px;
    height: 47px;
    font-size: 14px;
}
.innerform_headingtext
{
    font-size: 15px;
}
.hdnameimg_design
{
    width: 40px;
    padding: 0px 5px 0px 0px;
}