<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Hostel</h5><span>Add Hostel</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="hostelForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Name</label>
                                            <input class="form-control" formControlName="name" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Name">
                                        <div *ngIf="hostelForm.controls['name'].errors?.['required'] && hostelForm.controls['name'].touched " class="text text-danger mt-1">Name required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                            <label>Select Type</label>
                                            <select style="width: 100%" formControlName="hostel_type_id" class="form-select" required >
                                                <option value="null"> Select </option>
                                                <option *ngFor="let data of hostelTypes" [value]="data.id" >
                                                    {{data.name}}
                                                </option>
                                            </select>
                                        <div *ngIf="hostelForm.controls['hostel_type_id'].errors?.['required'] && hostelForm.controls['hostel_type_id'].touched " class="text text-danger mt-1">Type required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Address</label>
                                            <input class="form-control" formControlName="address" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Address">
                                        <div *ngIf="hostelForm.controls['address'].errors?.['required'] && hostelForm.controls['address'].touched " class="text text-danger mt-1">Address required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Description</label>
                                            <input class="form-control" formControlName="description" id="exampleInputEmail1" type="text"
                                                   placeholder="Enter Description">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [hidden]="isUpdatable == true" class="btn btn-primary me-1" (click)="saveHostels()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateHostels()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                            <!--                            <button class="btn btn-secondary">Cancel</button>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-7">
            <div class="row" *ngIf="permission[3].permission == 1">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Hostel</h5>
                                <span>Hostel List.</span>
                            </div>
                            <div class="table-responsive">

                                <table class="table" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th colspan="2">#</th>
                                        <th colspan="2">Name</th>
                                        <th colspan="2">Hostel Type Name</th>
                                        <th colspan="2">Address</th>
                                        <th colspan="2">Description</th>
                                        <th colspan="2" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of hostelList| paginate: { itemsPerPage: 10, currentPage: p }  ;let indexOfElement=index">
                                        <td colspan="2">{{indexOfElement+1}}</td>
                                        <td colspan="2">{{record.name}}</td>
                                        <td colspan="2">{{record.hostel_type_name}}</td>
                                        <td colspan="2">{{record.address}}</td>
                                        <td colspan="2">{{record.description}}</td>
                                        <td colspan="2">
                                            <a *ngIf="permission[1].permission == 1" (click)="editHotel(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deleteHotel(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls [hidden]="hostelList.length<9" (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->