<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Attendance</h5><span>Student period Attendance</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="attendanceForm">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label>Select User Type</label>
                                        <select style="width: 100%" formControlName="user_type_id" class="form-select" required>
                                            <option *ngFor="let data of userTypeList" [value]="data.id" >
                                                {{data.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="attendanceForm.controls['user_type_id'].errors?.['required'] && attendanceForm.controls['user_type_id'].touched " class="text text-danger mt-1">User Type required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Select Date</label>
                                        <input class="form-control" formControlName="date" type="date"
                                               placeholder="Select date">
                                        <div *ngIf="attendanceForm.controls['date'].errors?.['required'] && attendanceForm.controls['date'].touched " class="text text-danger mt-1">Date required</div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div>
                                            <button style="margin-top: 25px;" class="btn btn-primary me-1" (click)="getStaff()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="memberAttendanceList.length > 0">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Staff List</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Attendance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of memberAttendanceList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.first_name}} {{record.middle_name}} {{record.last_name}}</td>
                                        <td>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age{{indexOfElement}}" [(ngModel)]="record.attendance" [checked]="record.attendance == 'present'" value="present">
                                            <label for="age1">Present</label>
                                            <input style="margin-left: 15px" type="radio" id="age1" name="age{{indexOfElement}}" [(ngModel)]="record.attendance" [checked]="record.attendance == 'absent'" value="absent">
                                            <label for="age1">Absent</label>
                                        </td>
                                    </tr>
                                    <button class="btn btn-primary me-1" (click)="saveAttendance()">Submit</button>
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; Container-fluid Ends&ndash;&gt;-->