<div class="container-fluid">
    <div class="row" *ngIf="permission.length > 0">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Agent</h5><span>Agent Payment</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="paymentForm">
                                <div  class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Select Agent</label>
                                        <select style="width: 100%" formControlName="user_id" class="form-select" (change)="getAgentData()" required>
                                            <option value="null">Select</option>
                                            <option *ngFor="let data of agentList" [value]="data.id" >
                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="paymentForm.controls['user_id'].errors?.['required'] && paymentForm.controls['user_id'].touched " class="text text-danger mt-1">Agent required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Transaction Number</label>
                                        <input type="text" class="form-control" formControlName="transaction_no">
                                        <div *ngIf="paymentForm.controls['transaction_no'].errors?.['required'] && paymentForm.controls['transaction_no'].touched " class="text text-danger mt-1">Transaction No. required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Mode</label>
                                        <select style="width: 100%" formControlName="mode" class="form-select" required>
                                            <option value="null">Select</option>
                                            <option value="Cash"> Cash </option>
                                            <option value="Transfer to bank"> Transfer to bank </option>
                                            <option value="Cheque"> Cheque </option>
                                            <option value="Others"> Others </option>
                                        </select>
                                        <div *ngIf="paymentForm.controls['mode'].errors?.['required'] && paymentForm.controls['mode'].touched " class="text text-danger mt-1">Mode required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Date</label>
                                        <input type="date" class="form-control" formControlName="date">
                                        <div *ngIf="paymentForm.controls['date'].errors?.['required'] && paymentForm.controls['date'].touched " class="text text-danger mt-1">Date required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Total Amount</label>
                                        <input readonly type="text" class="form-control" formControlName="total_amount">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Due Amount</label>
                                        <input readonly type="text" class="form-control" formControlName="due_amount">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" formControlName="amount">
                                        <div *ngIf="paymentForm.controls['amount'].errors?.['required'] && paymentForm.controls['amount'].touched " class="text text-danger mt-1">Amount required</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button *ngIf="permission[0].permission == 1" [hidden]="isUpdatable" class="btn btn-primary me-1" (click)="saveAgentPayment()">Submit</button>
                            <button *ngIf="permission[1].permission == 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateAgentPayment()">Update</button>
                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="row" *ngIf="permission[3].permission == 1">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Payment</h5>
                                <span>Payment List.</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Agent Name</th>
                                        <th scope="col">Transaction No.</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Mode</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col" *ngIf="permission[1].permission == 1 && permission[2].permission == 1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let record of paymentList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">
                                        <td>{{indexOfElement+1}}</td>
                                        <td>{{record.user_name}}</td>
                                        <td>{{record.transaction_no}}</td>
                                        <td>{{record.date}}</td>
                                        <td>{{record.mode}}</td>
                                        <td>{{record.amount}}</td>
                                        <td>
                                            <a *ngIf="permission[1].permission == 1" (click)="editPayment(record)"><mat-icon>edit</mat-icon></a>
                                            <a *ngIf="permission[2].permission == 1" (click)="deletePayment(record)"><mat-icon>delete</mat-icon></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls *ngIf="paymentList.length >8" (pageChange)="p = $event"></pagination-controls>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->