<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Agent</h5><span>Agent Payment</span>
                        </div>
                        <div class="card-body">
                            <form class="theme-form" [formGroup]="paymentForm">
                                <div  class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Select Agent</label>
                                        <select style="width: 100%" formControlName="user_id" class="form-select" (change)="getAgentData()" required>
                                            <option value="null">Select</option>
                                            <option *ngFor="let data of agentList" [value]="data.id" >
                                                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="paymentForm.controls['user_id'].errors?.['required'] && paymentForm.controls['user_id'].touched " class="text text-danger mt-1">Agent required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Transaction Number</label>
                                        <input type="text" class="form-control" formControlName="transaction_no">
                                        <div *ngIf="paymentForm.controls['transaction_no'].errors?.['required'] && paymentForm.controls['transaction_no'].touched " class="text text-danger mt-1">Transaction No. required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Mode</label>
                                        <select style="width: 100%" formControlName="mode" class="form-select" required>
                                            <option value="null">Select</option>
                                            <option value="Hinduism"> Cash </option>
                                            <option value="Buddhism"> Transfer to bank </option>
                                            <option value="Christianity"> Cheque </option>
                                            <option value="Christianity"> Others </option>
                                        </select>
                                        <div *ngIf="paymentForm.controls['mode'].errors?.['required'] && paymentForm.controls['mode'].touched " class="text text-danger mt-1">Mode required</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Date</label>
                                        <input type="date" class="form-control" formControlName="date">
                                        <div *ngIf="paymentForm.controls['date'].errors?.['required'] && paymentForm.controls['date'].touched " class="text text-danger mt-1">Date required</div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Total Amount</label>
                                        <input readonly type="text" class="form-control" formControlName="total_amount">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" formControlName="amount">
                                        <div *ngIf="paymentForm.controls['amount'].errors?.['required'] && paymentForm.controls['amount'].touched " class="text text-danger mt-1">Amount required</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button [hidden]="isUpdatable" class="btn btn-primary me-1" (click)="saveAgentPayment()">Submit</button>
<!--                            <button *ngIf="permission[1].permission === 1" [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="updateCourse()">Update</button>-->
<!--                            <button [hidden]="isUpdatable == false" class="btn btn-primary me-1" (click)="cancelUpdate()">Cancel</button>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                </div>
            </div>
        </div>
<!--        <div class="col-sm-12 col-xl-6">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-12">-->
<!--                    <div class="col-sm-12">-->
<!--                        <div class="card">-->
<!--                            <div class="card-header">-->
<!--                                <h5>Course List</h5>-->
<!--                                <span>Full Course List.</span>-->
<!--                            </div>-->
<!--                            <div class="table-responsive" *ngIf="permission[3].permission === 1">-->
<!--                                <table class="table" >-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th scope="col">#</th>-->
<!--                                        <th scope="col">Name</th>-->
<!--                                        <th scope="col">Course Name</th>-->
<!--                                        <th scope="col" *ngIf="permission[1].permission === 1 || permission[2].permission === 1">Action</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr *ngFor="let record of courseList | paginate: { itemsPerPage: 10, currentPage: p } ;let indexOfElement=index">-->
<!--                                        <td>{{indexOfElement+1}}</td>-->
<!--                                        <td>{{record.course_name}}</td>-->
<!--                                        <td>-->
<!--                                            <p *ngFor="let records of record.semester"> {{records.name}} </p>-->
<!--                                        </td>-->
<!--                                        <td *ngIf="permission[1].permission === 1 || permission[2].permission === 1">-->
<!--                                            <a *ngIf="permission[1].permission === 1" (click)="editCourse(record)"><mat-icon>edit</mat-icon></a>-->
<!--                                            <a *ngIf="permission[2].permission === 1" (click)="deleteCourse(record)"><mat-icon>delete</mat-icon></a>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                                <pagination-controls (pageChange)="p = $event"></pagination-controls>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<!-- Container-fluid Ends-->